@using IUSLibs.FrontUI.Entidades;
@using IUSLibs.SEC.Entidades
@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
    List<Persona> personas = null;
    Institucion institucion = null;
    Dictionary<object, object> data = null;
    try
    {
        data = (Dictionary<object, object>)ViewBag.data;
        personas = (List<Persona>)ViewBag.personas;
        institucion = (Institucion)data["institucion"];
    }
    catch (Exception)
    {

    }
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/FichaInstitucioni/style.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Instituciones/FichaInstitucioni/script.js"></script>
    <script src="~/Scripts/views/Instituciones/FichaInstitucioni/functions.js"></script>
}
<div class="row marginNull lineaRoja">

</div>
<div class="centroPagina row marginNull contenidoCuerpo">
    <div class="col-lg-4">
        @Html.Partial("menuInstitucion")
    </div>
    <div class="col-lg-8 detalles">
        <div class="row marginNull rowTituloInst">
            <div class="tituloFichaInst">
                <a href="@Url.Action("Index","Instituciones" ,new { id=institucion._pais._continente._idContinente})">
                    Instituciones en @institucion._pais._continente._continente
                </a> >>>
            </div>
            <span class="nombrenIst">
                <a href="@Url.Action("FichaInstitucion", "Instituciones", new { id=institucion._idInstitucion})">
                    @institucion._nombre
                </a>
            </span> >>> 
            <span class="nombreActual">Equipo trabajo</span>
        </div>
        <div class="contenidoFicha">
            <h3>Equipo de trabajo institución</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombres completo</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (personas != null) {
                        foreach (Persona persona in personas)
                        {
                            <tr>
                                <td>
                                    @persona.nombreCompleto
                                </td>
                                <td>@persona.getEdad</td>
                                <td>
                                    <a href="@Url.Action("DetalleTrabajador", "Instituciones", new { id = persona._idPersona })">
                                        Ver
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

