@using IUSLibs.FrontUI.Entidades;
@using IUSLibs.RRHH.Entidades.Formacion;
@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
    Dictionary<object, object> data = null;
    Institucion institucion = null;
    string ciudad = "", otrasCiudades = "";
    string src = "";
    try
    {
        
        data        = (Dictionary<object, object>)ViewBag.data;
        institucion = (Institucion)data["institucion"];
        string[] separators = { "," };
        string[] arrCiudad = institucion._ciudad.Split(separators,StringSplitOptions.RemoveEmptyEntries);
        if (arrCiudad != null && arrCiudad.Length > 0)
        {
            int c = 0;
            foreach (string s in arrCiudad)
            {
                if (c == 0)
                {
                    ciudad = s;
                }
                else
                {
                    otrasCiudades += s + ",";
                }
                c++;
            }
            if (otrasCiudades != "")
            {
                otrasCiudades = otrasCiudades.Substring(0, otrasCiudades.Length - 1);    
            }
            
            
        }
        if (institucion._logo != null)
        {
            src = "data:image/png;base64," + Convert.ToBase64String(institucion._logo, 0, institucion._logo.Length);
        }
        else
        {
            src = Url.Content("~/Content/images/generales/image-color.png");
        }
    }
    catch (Exception)
    {
        
    }
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/FichaInstitucioni/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/FichaInstitucioni/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Instituciones/FichaInstitucioni/script.js"></script>
    <script src="~/Scripts/views/Instituciones/FichaInstitucioni/functions.js"></script>
}

<input type="hidden" class="txtHdIdContinente" value="@institucion._pais._continente._idContinente" />
<div class="row marginNull lineaRoja">

</div>
<div class="centroPagina row marginNull contenidoCuerpo">
    <div class="col-lg-4">
        @Html.Partial("menuInstitucion")
    </div>
    <div class="col-lg-8 detalles">
        <div class="row marginNull rowTituloInst">
            <div class="tituloFichaInst">
                <a href="@Url.Action("Index","Instituciones" ,new { id=institucion._pais._continente._idContinente})"> 
                Instituciones en @institucion._pais._continente._continente
                </a> >>> 
            </div>
            <span class="nombrenIst">@institucion._nombre</span>
        </div>
        <div class="contenidoFicha">
            <div class="row marginNull">
                <div class="col-lg-9">
                    <div class="seccion row marginNull">
                        @*<div class="etiqueta etiquetaTitulo">@institucion._nombre</div>*@

                        <div class="col-lg-6 etiqueta">@ViewData["lb-pais"]</div>
                        <div class="col-lg-6">
                            @institucion._pais._pais
                        </div>

                        @if (ciudad != "")
                        {
                            <div class="col-lg-6 etiqueta">
                                @ViewData["lb-sede"]
                            </div>
                            <div class="col-lg-6 ">
                                @ciudad
                            </div>    
                        }
                        
                        @if (otrasCiudades != "")
                        {
                            <div class="col-lg-6 etiqueta">
                                @ViewData["lb-ciudad"]
                            </div>
                            <div class="col-lg-6 ">
                                @otrasCiudades
                            </div>    
                        }
                        

                        <div class="col-lg-6 etiqueta">
                            @ViewData["lb-anioFundacion"]
                        </div>
                        <div class="col-lg-6">
                            @institucion._anioFundacion
                        </div>

                        <div class="col-lg-6 etiqueta">
                            @ViewData["lb-tipoInstitucion"]
                        </div>
                        <div class="col-lg-6">
                            @institucion._tipoInstitucion._tipoInstitucion
                        </div>

                        <div class="col-lg-6 etiqueta">
                            @ViewData["lb-direccion"]
                        </div>
                        <div class="col-lg-6">
                            <address>
                                @institucion._direccion
                            </address>
                        </div>

                        
                        @if (institucion._telefonos != null)
                        {
                            <div class="col-lg-6 etiqueta">
                                @ViewData["lb-telefonos"]
                            </div>
                            <div class="col-lg-6 colMedia">
                                @foreach (TelefonoInstitucion telefono in institucion._telefonos)
                                {
                                    string tel = "";
                                    if (telefono._institucion._pais._codigoPais != "")
                                    {
                                    tel = "(" + telefono._institucion._pais._codigoPais + ")";
                                    }
                                    <div class="row marginNull">
                                        <a href="tel:@telefono._telefono"> @tel @telefono._textoTelefono </a><span> / </span>
                                    </div>
                                }
                            </div>
                            
                        }
                        @if (institucion._emails != null && institucion._emails.Count > 0)
                        {
                            <div class="col-lg-6 etiqueta">
                                Email: 
                            </div>
                            <div class="col-lg-6 colMedia">
                                @foreach (EmailInstitucion emailInstitucion in institucion._emails)
                                {
                                    <span>
                                        <a href="mailto:@emailInstitucion._email">@emailInstitucion._email</a>
                                    </span>
                                }
                            </div>
                        }
                        

                        @if (institucion._enlaces != null)
                        {
                            <div class="col-lg-6 etiqueta">
                                @ViewData["lb-sitioweb"]
                            </div>
                            <div class="col-lg-6 colMedia">
                                @foreach (EnlaceInstitucion enlace in institucion._enlaces)
                                {
                                    <span>
                                        <a href="@enlace._enlace" target="_blank">@enlace._nombreEnlace</a>
                                    </span>
                                }
                            </div>
                        }
                        <div class="col-lg-6">
                            Rector: 
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 colFotoInst">
                    <img class="imgFotoInstitucion" src="@src" />
                </div>
            </div>
            @if (institucion._institucionesNiveles != null && institucion._institucionesNiveles.Count > 0)
            {
                <div class="contenidoConocimiento row marginNull">
                    <div class="col-lg-12 rowNivelArea">
                        <div class="etiquetaTitulo">@ViewData["titulo-nivelesEducacion"]</div>
                        @foreach (InstitucionNivel institucionNivel in institucion._institucionesNiveles)
                        {
                            <div class="row marginNull ">
                                @institucionNivel._nivelEducacion._codigo - @institucionNivel._nivelEducacion._descripcion
                            </div>
                        }
                    </div>
                </div>
            }
            
            @if (institucion._areas != null && institucion._areas.Count > 0)
            {
                <div class="contenidoConocimiento row marginNull">
                    <div class="col-lg-12 rowNivelArea">
                        <div class="etiqueta etiquetaTitulo">@ViewData["titulo-areasConocimiento"]</div>
                        @foreach (AreaCarrera area in institucion._areas)
                        {

                            <div class="row marginNull ">
                                @area._codigo - @area._area
                            </div>


                        }
                    </div>
                </div>
            }
            
            <div class="contenidoConocimiento row marginNull">
                @{
                    bool put = institucion._institucionesNiveles != null && institucion._institucionesNiveles.Count > 0;
                }
                @if(put){
                    <div class="col-lg-12 rowNivelArea">
                        <div class="etiquetaTitulo">
                            @ViewData["texto-numeroEstudiantes"]
                        </div>
                        <table class="table tablaNumeroEstudiante">
                            <thead>
                                <tr>
                                    <th>@ViewData["tb-th-nivelInstitucion"] </th> @*Nivel de instrucción*@
                                    <th>@ViewData["tb-th-estudiantes"]</th>  @*Estudiantes*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (put)
                                {
                                    int cn = 0;
                                    foreach (InstitucionNivel institucionNivel in institucion._institucionesNiveles)
                                    {
                                        cn += institucionNivel._numAlumnos;
                                        <tr>
                                            <td>
                                                @institucionNivel._nivelEducacion._codigo - @institucionNivel._nivelEducacion._descripcion
                                            </td>
                                            <td>
                                                @institucionNivel._numAlumnos
                                            </td>
                                        </tr>
                                    }
                                    <tr class="trTotal">
                                        <td>@ViewData["tb-td-total"]</td>
                                        <td>@cn</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="2" class="text-center">No hay datos que mostrar</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div> 
            @if (institucion._revistas != null && institucion._revistas.Count > 0)
            {
                <div class="col-lg-12 rowNivelArea">
                    <div class="contenidoConocimiento row marginNull">
                        <div class="etiquetaTitulo">Revistas de la institución:</div>
                        <table class="table tablaNumeroEstudiante">
                            <thead>
                                <tr>
                                    <th>Revista</th>
                                    <th>Categoria</th>
                                    <th>Inicio de publicaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (RevistaInstitucion revista in institucion._revistas)
                                {
                                    <tr>
                                        <td>@revista._revista</td>
                                        <td>@revista._categoria</td>
                                        <td>@revista._anioPublicacion.ToString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                
            }
            
            <div class="row marginNull">
                <div class="col-lg-offset-9 col-lg-3">
                    <a class="aRegresar" href="@Url.Action("Index","Instituciones" ,new { id=institucion._pais._continente._idContinente})">
                        <span><<<</span> Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
