@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
    string path     = "~/Content/images/views/Instituciones/";
    string america  = Url.Content(path+"americai.png"),     americaRoja     = Url.Content(path+"americair.png");
    string africa   = Url.Content(path + "africai.png"),    africaRoja      = Url.Content(path + "africair.png");
    string asia     = Url.Content(path + "asiai.png"),      asiaRoja        = Url.Content(path + "asiair.png");
    string europa   = Url.Content(path + "europai.png"),    europaRoja      = Url.Content(path + "europair.png");
    
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/Indexi/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Instituciones/Indexi/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Instituciones/Indexi/script.js"></script>
    <script src="~/Scripts/views/Instituciones/Indexi/functions.js"></script>
}
<div class="row marginNull lineaRoja">

</div>
<input class="hidden txtHdNoNumberText" value="@ViewData["lb-tb-noNumero"]" />
<input class="hidden txtHdNoRegistro" value="@ViewData["lb-tb-noRegistro"]" />
<input class="hidden txtHdIdContinente" value="@ViewBag.idContinente" />

<div class="centroPagina row marginNull contenidoCuerpo">
    <div class="col-lg-4">
        <ul class="menuLateral"> @*a pesar de llamarse menu conocenos es una clase general*@
            <li id="2">
                <div class="row parent">
                    <div class="colImgMap">
                        <input type="hidden" class="txtHdNormal" value="@america" />
                        <input type="hidden" class="txtHdRoja"  value="@americaRoja" />
                        <img class="imgMap" src="@america" />
                    </div>
                    <div class="texto">America</div>
                </div>
            </li>
            <li id="1">
                <div class="row">
                    <div class="colImgMap">
                        <input type="hidden" class="txtHdNormal" value="@africa" />
                        <input type="hidden" class="txtHdRoja" value="@africaRoja" />
                        <img class="imgMap" src="~/Content/images/views/Instituciones/africai.png" />
                    </div>
                    <div class="texto">Africa</div>
                </div>
            </li>
            <li id="3">
                <div class="row">
                    <div class="colImgMap">
                        <input type="hidden" class="txtHdNormal" value="@asia" />
                        <input type="hidden" class="txtHdRoja" value="@asiaRoja" />
                        <img class="imgMap" src="~/Content/images/views/Instituciones/asiai.png" />
                    </div>
                    <div class="texto">Asia</div>
                </div>
            </li>
            <li id="4">
                <div class="row">
                    <div class="colImgMap">
                        <input type="hidden" class="txtHdNormal" value="@europa" />
                        <input type="hidden" class="txtHdRoja" value="@europaRoja" />
                        <img class="imgMap" src="~/Content/images/views/Instituciones/europai.png" />
                    </div>
                    <div class="texto">Europa</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-8 detalles">
        <div class="centroInstituciones">
            @**@
            <div class="divInfoInicial">
                <div class="contenedorImgPrincipal">
                    <img class="imgPrincipal" src="~/Content/images/views/Instituciones/institucionesMini.png">
                </div>
                <div class="row marginNull divContenedorTexto">
                    <h3 class="tituloInstituciones">@ViewData["lb-tituloPrincipal"]</h3>
                    <p>
                        @*Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.*@
                        @ViewData["lb-inicial"]
                    </p>
                </div>
            </div>
            <div class="row marginNull divInfoInstituciones hidden">
                <h3 class="tituloDetalles">@ViewData["lb-tituloIndividual"] <span class="spanContinente">America</span></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </p>

                <table class="table tablaInstitucion">
                    <thead>
                        <tr>
                            <th>@ViewData["tb-th-pais"]</th>
                            <th>@ViewData["tb-th-institucion"]</th>
                            <th>@ViewData["tb-th-telefonos"]</th>
                            <th>@ViewData["tb-th-contactos"]</th>
                            <th>@ViewData["tb-th-correos"]</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 5; i++)
                        {
                            <tr>
                                <td>El salvador</td>
                                <td>Universidad Don bosco</td>
                                <td>(503) 2245 555</td>
                                <td>Sr. Jose Ramirez</td>
                                <td>Jose@udb.edu.sv</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @**@
        </div>
        
    </div>
</div>