<ul>
    <a href="@Url.Action("Index","Repositorio")">
        <li class="@ViewBag.selectedLi1">
            Compartir publico
        </li>
    </a>
    <a href="@Url.Action("Index","RepositorioCompartido")">
        <li class="@ViewBag.selectedLi2">
            Compartir privado
        </li>
    </a>
    <a href="@Url.Action("Index","RepositorioPublico")">
        <li class="@ViewBag.selectedLi3">
            Vista Publica
        </li>
    </a>
</ul>   