@using IUSLibs.ADMINFE.Entidades.Noticias
@using IUSLibs.FrontUI.Noticias.Entidades
@{
    Post post = (Post)ViewBag.post;
    List<Comentario> comentarios = (List<Comentario>)ViewBag.comentarios;
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Noticias/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Noticias/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Noticias/script.js"></script>
    <script src="~/Scripts/views/Noticias/functions.js"></script>
}
<div class="row marginNull divTodoNoticias ">
    <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="todoCuerpoNoticia">
            <h2 class="tituloNoticia">@post._titulo</h2>
            <div class="contenidoNoticia">
                @(new HtmlString(post._contenido))
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 divSeccionComentarios">
        <h2 class="tituloComentarios">
            @ViewData["cabecera-comentarios"]
            <!--Comentarios-->
        </h2>
        <div class="btnDesplegableAddComent">
            <span>
                @ViewData["desplagable-boton-comentario"]

                <!--Agregar comentario-->
            </span>
            <span class="spanIco">
                <i class="fa fa-angle-down"></i>
                <!--<i class="fa fa-angle-up icoAccion"></i>-->
            </span>
        </div>
        <div class="agregarComentarioSection " style="display:none" >
            <form id="frmComentario">
                <input type="hidden" name="txtHdIdPost" value="@ViewBag.idPost" />
                @*<div class="row marginNull rowForm">
                    <label>@ViewData["label-nombre"]</label>
                    <input class="form-control soloLetras" required name="txtNombre" placeholder="@ViewData["formato-nombre"]" /><!--Nombre Apellido-->
                </div>
                <div class="row marginNull rowForm">
                    <label>@ViewData["label-email"]</label>
                    <input type="email" class="form-control" name="txtEmail" required  placeholder="@ViewData["formato-email"]" /><!-- direccion@("@")dominio -->
                </div>*@
                <div class="row marginNull rowForm">
                    <label>@ViewData["label-comentario"]</label>
                    <textarea class="form-control" required name="txtAreaComentario"></textarea>
                </div>
                <button class="btn btnComentar">
                    @ViewData["boton-comentar"]
                    <!-- Comentar -->
                </button>
            </form>
            <div class="row marginNull divPrintFrmComentario">

            </div>
            <div class="row marginNull divMensajesComentarios">

            </div>
        </div>
        <div class="comentariosSection">
            @if (comentarios != null)
            {
                foreach (Comentario comentario in comentarios)
                {
                    <div class="divComentario col-lg-12 col-md-12 col-sm-12">
                        <h3>@comentario._nombre</h3>
                        <p>
                            @comentario._comentario
                            <div class="spanDate">@comentario.getTxtFecha</div>
                        </p>
                    </div>
                }
            }
            else
            {
                <div class="noComentFound">
                    <img src="~/Content/images/generales/chat.png"/>
                    <h4>
                        @ViewData["label-no-comentario"]
                        <!--¡Se el primero en comentar esta Noticia!-->
                    </h4>
                </div>
            }
            <!--
            <div class="divComentario">
                <h3>Byron Peña</h3>
                <p>
                    Lorem Ipsum es simplemente el texto de relleno de las 
                    imprentas y archivos de texto. Lorem Ipsum ha sido el 
                    texto de relleno estándar de las industrias desde el año 1500.
                    <div class="spanDate">03/06/2015 7:49 a.m.</div>
                </p>
            </div>
            -->
        </div>
    </div>
</div>

