@using IUSLibs.ADMINFE.Entidades.Noticias
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Noticias/Todas/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Noticias/Todas/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Noticias/Todas/script.js"></script>
    <script src="~/Scripts/views/Noticias/Todas/functions.js"></script>
}
@{
    List<Post> posts = null; int cnPagina = 0;
    bool abierto = false; string div = ""; bool mostrar = true;
    string activeNum = "";
    Dictionary<object, object> noticias = null;
    int numPage = -1,rango=-1;
    string src = "";
    try
    {
        numPage     = (int)ViewBag.numPage;// pagina actual
        rango       = (int)ViewBag.rango;
        //posts   = (List<Post>)ViewBag.noticiasPagina;
        noticias        = (Dictionary<object, object>)ViewBag.noticiasPagina;
        posts       = (List<Post>)noticias["posts"];
        cnPagina    = (int)noticias["cnPagina"];
    }
    catch (Exception)
    {
        
    }
}
<h2 class="text-center">Noticias</h2>
<div class="row marginNull rowPadreParaBusqueda">
    <h3 class="text-center">Filtros</h3>
    <div class="row marginNull RowControlesFiltro">
        <input type="hidden" class="txtHdNumPage" name="txtHdNumPage" value="@numPage" />
        <input type="hidden" class="txtHdRango" name="txtHdRango" value="@rango" />
        <div class="col-lg-offset-3 col-lg-3">
            <div class="row marginNull">
                <div class="col-lg-6">
                    <label>Titulo</label>
                </div>
                <div class="col-lg-6">
                    Actual
                    <input type="radio" checked name="rbRangoFecha" value="1"/>
                    Todas
                    <input type="radio" name="rbRangoFecha" value="0" />
                </div>
            </div>
            <input name="txtTituloNoticia"  class="form-control txtTituloNoticia"/>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-6">
                <label>Fecha inicio</label>
                <input name="dtpInicio" class="form-control datePicker" placeholder="Fecha Inicio"/>
            </div>
            <div class="col-lg-6">
                <label>Fecha fin</label>
                <input name="dtpFin" class="form-control datePicker" placeholder="Fecha Fin" />
            </div>
        </div>
    </div>
    <div class="row marginNull RowControlesFiltro">
        <div class="col-lg-offset-3 col-lg-6 text-center">
            <button class="btn btnBuscar ">Buscar</button>
        </div>
    </div>
</div>
<div class="row marginNull divTarjetasNoticias">
    @if (posts != null && posts.Count > 0)
    {
        
        foreach (Post post in posts)
        {
            if (post._miniatura != null)
            {
                src = "data:image/png;base64," + post.convertMiniatura; //Convert.ToBase64String(post._miniatura);
            }
            else
            {
                src = Url.Content("~/Content/images/generales/image.png");
            }
            <div class="col-lg-3">
                <h3 class="text-center">@post._titulo</h3>
                <div class="imgNoticiaTarjeta">
                    <img src="@src" />
                </div>
                <p>@post._descripcion</p>
                <div class="row marginNull text-center">
                    <a href="@Url.Action("Index", "Noticias", new { id=post._idPost})">Leer noticia</a>
                </div>
            </div>
        }
    }
    
   
</div>

<div class="row marginNull divContenedorNumeros">
    <div class="col-lg-4 text-right">
        <div class="num text-center flecha fechaLeft pointer">
            <i class="fa fa-arrow-left"></i>
        </div>
    </div>
    <div class="col-lg-4">
        @for (int i = 0; i < cnPagina; i++)
        {
            //d = i % 5;
            if (!abierto)
            {
                // abrir
                string classMostrar = "";
                if (!mostrar)
                {
                    classMostrar = "hidden";
                }
                else
                {
                    classMostrar = "grupoNumActivo";
                }
                div = "<div class='divContenedorNumeritos " + classMostrar + "'>";
                @(new HtmlString(div))
                abierto = true;
            }
            if (i+1 == numPage)
            {
                activeNum = "activeNum";
            }
            else
            {
                activeNum = "";
            }
            <div class="num text-center @activeNum pointer numPaginacion ">
                @(i + 1)
            </div>
            if ((i + 1) % 4 == 0 && abierto)
            {
                // cierra div
                div = "</div>";
                mostrar = false;
                abierto = false;
                @(new HtmlString(div))
            }
        }
        @if (abierto)
        {
            div = "</div>";
            @(new HtmlString(div))
        }
    </div>
    <div class="col-lg-4">
        <div class="num text-center flecha flechaRight pointer">
            <i class="fa fa-arrow-right"></i>
        </div>
    </div>
    
</div>