@using IUSLibs.ADMINFE.Entidades.Noticias
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Noticias/Todas/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Noticias/Todas/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Noticias/Todas/script.js"></script>
    <script src="~/Scripts/views/Noticias/Todas/functions.js"></script>
}
@{
    List<Post> posts = null; int cnPagina = 0;
    bool abierto = false; string div = ""; bool mostrar = true;
    string activeNum = "";
    Dictionary<object, object> noticias = null;
    int numPage = -1,rango=-1;
    string src = "";
    try
    {
        numPage     = (int)ViewBag.numPage;// pagina actual
        rango       = (int)ViewBag.rango;
        //posts   = (List<Post>)ViewBag.noticiasPagina;
        noticias        = (Dictionary<object, object>)ViewBag.noticiasPagina;
        posts       = (List<Post>)noticias["posts"];
        cnPagina    = (int)noticias["cnPagina"];
    }
    catch (Exception)
    {
        
    }
}
<input type="hidden" class="mjs-error-ponerFiltroBusqueda" value="@ViewData["mjs-error-ponerFiltroBusqueda"]" />
<h2 class="text-center titulo">@ViewData["titulo-noticias"]@*Noticias*@</h2>
<div class="row marginNull rowPadreParaBusqueda" style="display:none">
    <h3 class="text-center">@ViewData["titulo-seccion-filtro"]@*Filtro*@</h3>
    <div class="row marginNull RowControlesFiltro ">
        <input type="hidden" class="txtHdNumPage" name="txtHdNumPage" value="@numPage" />
        <input type="hidden" class="txtHdRango" name="txtHdRango" value="@rango" />
        <input type="hidden" class="txtHdBuscando" name="txtHdBuscando" value="0" />
        <div class="col-lg-offset-3 col-lg-3">
            <div class="row marginNull">
                <div class="col-lg-6">
                    <label>@ViewData["lb-control-tituloNoticia"]@*titulo*@</label>
                </div>
                <div class="col-lg-6">
                    <!--
                    Actual
                    <input type="radio" class="rbRangoFecha" name="rbRangoFecha" value="1" />
                    Todas
                    <input type="radio" checked class="rbRangoFecha" name="rbRangoFecha" value="0" />
                        -->
                </div>
            </div>
            <input name="txtTituloNoticia" class="form-control txtTituloNoticia" />
        </div>
        <div class="col-lg-3">
            <div class="col-lg-6">
                <label>@ViewData["lb-control-fechaInicio"] @*Fecha inicio*@</label>
                <input name="dtpInicio" class="form-control datePicker" placeholder="@ViewData["texto-fechaInicio"]" />
            </div>
            <div class="col-lg-6">
                <label>@ViewData["lb-control-fechaFin"] @*Fecha fin*@</label>
                <input name="dtpFin" class="form-control datePicker" placeholder="@ViewData["texto-fechaFin"]" />
            </div>
        </div>
    </div>
    <div class="row marginNull RowControlesFiltro">
        <div class="col-lg-offset-3 col-lg-6 text-center">
            <div class="btn-group">
                <button class="btn btn-default btnCancelarBusqueda" disabled>@ViewData["lb-boton-cancelar"] @*Cancelar*@</button>
                <button class="btn btn-default btnBuscar ">@ViewData["lb-boton-aceptar"] @*Buscar*@</button>
            </div>
            <div class="row marginNull text-center divMensajesBusqueda">

            </div>
        </div>
    </div>
</div>
<div class="row marginNull text-center divMostrarFiltro">
    <div class="divDesplegableFiltro pointer">
        <i class="fa fa-angle-down icoDesplegableNoticia"></i>
    </div>
</div>
<div class="row marginNull divDataGuiaBusqueda visiHidden">
    <h4>Resultados de busqueda</h4>
    Noticias con titulo similar a: <strong class="divGuititulo">""</strong> 
        <span class="spanIntervaloFecha"> en el intervalo de tiempo de 
            <strong class="divGuiInicio"></strong> hasta 
            <strong class="divGuiFin"></strong>
        </span>
</div>
<div class="row marginNull divTarjetasNoticias">
    @if (posts != null && posts.Count > 0)
    {
        
        foreach (Post post in posts)
        {
            if (post._miniatura != null)
            {
                src = "data:image/png;base64," + post.convertMiniatura; //Convert.ToBase64String(post._miniatura);
            }
            else
            {
                src = Url.Content("~/Content/images/generales/image.png");
            }
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-center">@post._titulo</h3>
                    </div>
                    <div class="panel-body bodyPanel">
                        <div class="imgNoticiaTarjeta">
                            <img src="@src" />
                        </div>
                        <p class="pPost">@post._descripcion</p>
                        
                    </div>
                    <div class="panel-footer text-center footerPanel">
                        <!--<div class="row marginNull text-center">-->
                        <div class="row marginNull">
                            <div class="col-lg-6 text-center">
                                <a class="btn btn-default" href="@Url.Action("Index", "Noticias", new { id=post._idPost})">
                                    Leer noticia
                                </a>
                            </div>
                            <div class="col-lg-6 text-center">
                                @post._fechaCreacion
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
                
                
            </div>
        }
    }
    
   
</div>

<div class="row marginNull divContenedorNumeros">
    <div class="col-lg-4 text-right">
        <div class="num text-center flecha fechaLeft pointer">
            <i class="fa fa-arrow-left"></i>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row marginNull numRow">
            @for (int i = 0; i < cnPagina; i++)
            {
                //d = i % 5;
                if (!abierto)
                {
                    // abrir
                    string classMostrar = "";
                    if (!mostrar)
                    {
                        classMostrar = "hidden";
                    }
                    else
                    {
                        classMostrar = "grupoNumActivo";
                    }
                    div = "<div class='divContenedorNumeritos " + classMostrar + "'>";
                    @(new HtmlString(div))
                    abierto = true;
                }
                if (i + 1 == numPage)
                {
                    activeNum = "activeNum";
                }
                else
                {
                    activeNum = "";
                }
                <div class="num text-center @activeNum pointer numPaginacion ">
                    @(i + 1)
                </div>
                if ((i + 1) % 4 == 0 && abierto)
                {
                    // cierra div
                    div = "</div>";
                    mostrar = false;
                    abierto = false;
                    @(new HtmlString(div))
                }
            }
            @if (abierto)
            {
                div = "</div>";
                @(new HtmlString(div))
            }
        </div>
        <div class="row divResultadoNumeritos text-center">

        </div>

    </div>
    <div class="col-lg-4">
        <div class="num text-center flecha flechaRight pointer">
            <i class="fa fa-arrow-right"></i>
        </div>
    </div>
    
</div>