@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Conocenos/stylei.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Conocenos/mediai.css" />
    @*<link rel="stylesheet" href="~/Content/ius_theme/views/home/Indexi/style.css" />*@
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Conocenos/Indexi/script.js"></script>
    <script src="~/Scripts/views/Conocenos/Indexi/functions.js"></script>
}
<input type="hidden" class="txtHdSeleccionadoBuble" value="@ViewBag.seleccionado" />
<div class="row marginNull lineaRoja">

</div>
<div class="centroPagina row marginNull contenidoCuerpo">
    <div class="col-lg-4">
        <ul class="menuConocenos">
            <li class="activeConocenos" id="@ViewBag.idIdentidad">
                @ViewBag.Block_5 @* historia *@
            </li>
            <li id="@ViewBag.idHistoria">
                @ViewBag.Block_1 @* historia *@ 
            </li>
            <li id="@ViewBag.idOrganizacion">
                @ViewBag.Block_2 @* organizacion *@
 
            </li>
            <li id="@ViewBag.idIus">
                @ViewBag.Block_3 @* ius *@
            </li>
            <li id="@ViewBag.idSalesianos">
                @ViewBag.Block_4 @* salesiadnos *@
            </li>
        </ul>
    </div>
    <div class="col-lg-8 DetalleMenuConocenos">
        <div class="contenedorImgPrincipal">
            <img class="imgPrincipal" src="~/Content/images/generales/conocenos/9.png" />
        </div>
        <div class="contenidoConocenos">
            <h3 class="tituloContenidoConocenos"></h3>
            <div class="divCuerpoConocenos">

            </div>
            @*<p>
                Las IUS son instituciones de educación superior de inspiración cristianas, 
                orientadas por los valores del Evangelio y la pedagogía salesiana nacida del Sistema Preventivo 
                vivido por Don Bosco. En cuanto tales, 
                se caracterizan por ser comunidades académicas comprometidas con un 
                proyecto institucional al servicio de los jóvenes, particularmente 
                de los sectores populares, con una clara finalidad educativo-pastoral. 
            </p>
            <p>
                La opción por la presencia Salesiana en la 
                Educación Superior manifiesta la voluntad de la 
                Congregación Salesiana de tener una incidencia educativa y cultural. 
                En cuanto instituciones de educación superior católicas, las IUS buscan contribuir a 
                "la tutela y desarrollo de la dignidad humana y de la herencia cultural mediante la investigación,
                la enseñanza y los diversos servicios ofrecidos a las comunidades locales, nacionales e internacionales" (Ex Corde Ecclesiae 12). En cuanto salesianas poseen la misión específica de "promover el desarrollo integral de los jóvenes a través de la asimilación y la reelaboración crítica de la cultura y la educación en la fe en vista de la transformación cristiana de la sociedad" 
                (Reglamentos Congregación Salesiana 13).
            </p>*@
        </div>
    </div>
</div>

