@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Conocenos/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Conocenos/media.css" />
}
<div class="row marginNull divMenus">

    <div class="col-lg-6 col-md-6">
        <a href="@Url.Action("Historia", "Informacion")">
            <div class="cuadrito divMenu" id="divHistoria">
                <h3>
                    @ViewData["Block_1"]
                    <!--Historia-->                
                </h3>
            </div>
        </a>
    </div>


    <div class="col-lg-6 col-md-6">
        <a href="@Url.Action("Organizacion", "Informacion")">
            <div class="cuadrito divMenu" id="divOrganizacion">
                <h3>
                    @ViewData["Block_2"]
                    <!--Organizacion-->
                </h3>
            </div>
        </a>
    </div>



    <div class="col-lg-6 col-md-6">
        <a href="@Url.Action("Ius", "Informacion")">
            <div class="cuadrito divMenu" id="divSalesiano">
                <h3>
                    @ViewData["Block_3"]
                <!--IUS-->
            </h3>
        </div>
    </a>
</div>


    <div class="col-lg-6 col-md-6">
        <a href="@Url.Action("Salesianos", "Informacion")">
            <div class="cuadrito divMenu" id="divIus">
                <h3>
                    @ViewData["Block_4"]
                    <!--Salesianos-->
                </h3>
            </div>
        </a>
    </div>

    
    <div class="col-lg-6 col-md-6">
        <a href="@Url.Action("Identidad", "Informacion")">
            <div class="cuadrito divMenu" id="divIdentidad">
                <h3>
                    @ViewData["Block_5"]
                    <!--Identidad-->
                </h3>
            </div>
        </a>
    </div>
</div>
