@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Conocenos/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Conocenos/media.css" />
}
<div class="row marginNull divMenus" >
    <a href="@Url.Action("Historia", "Informacion")">
        <div class="col-lg-6">
            <div class="cuadrito divMenu" id="divHistoria">
                <h3>Historia</h3>
            </div>

        </div>
    </a>
    <a href="@Url.Action("Organizacion", "Informacion")">
        <div class="col-lg-6">
            <div class="cuadrito divMenu" id="divOrganizacion">
                <h3>Organizacion</h3>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Ius", "Informacion")">

        <div class="col-lg-6">
            <div class="cuadrito divMenu" id="divSalesiano">
                <h3>IUS</h3>
            </div>

        </div>
    </a>
    <a href="@Url.Action("Salesianos", "Informacion")">
        <div class="col-lg-6">
            <div class="cuadrito divMenu" id="divIus">
                <h3>Salesianos</h3>
            </div>

        </div>
    </a>
    <a href="@Url.Action("Identidad", "Informacion")">
        <div class="col-lg-6">
            <div class="cuadrito divMenu" id="divIdentidad">
                <h3>Identidad</h3>
            </div>
        </div>
    </a>
    
    
    
    
</div>
