@using IUSLibs.REPO.Entidades
@section estilosPersonalizados{
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/universales/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/media.css" />
}
@section scriptsPersonalizados{
    <!-- Propios -->
        <script src="~/Scripts/Views/Repositorio/script.js"></script>
        <script src="~/Scripts/Views/Repositorio/universales/functions.js"></script>
        <script src="~/Scripts/Views/Repositorio/functions.js"></script>
}
@{
    List<Carpeta> carpetas = (List<Carpeta>)ViewBag.carpetas;
    List<Archivo> archivos = (List<Archivo>)ViewBag.archivos;
    Carpeta carpetaActual = (Carpeta)ViewBag.carpetaActual;
}
@section tabs{
    <ul>
        <li class="btnTab tabActive" target="#tab-1">
            Personales
        </li>
        <li class="btnTab" target="#tab-2">
            Compartidos
        </li>
        <a href="@Url.Action("Index","RepositorioPublico")">
            <li  target="#tab-3">
                Publicos
            </li>
        </a>
    </ul>    
}
<div class="modal divUpload">
    <div id="contenerdorCargadorAjax" class="padreContenedorUpload">
        <div id="cargadorAjaxUniversal" class="contenedorUpload">
            <h3>Subir fichero</h3>
            <input type="hidden" class="txtHdEstadoUpload" value="-1"/>
            <form id="frmSubir" action="@Url.Action("sp_repo_uploadFile","Repositorio")">
                <div class="row marginNull divInputFile">
                    <input type="file" id="flArchivos" multiple />
                </div>
                <button type="submit">Subir</button>
                <h3>Ficheros cargados</h3>
                <div class="loadAjax">
                    <div class="row marginNull imgCargando">
                        <img src="~/Content/themes/iusback_theme/img/general/ajax-loader.gif" class="hidden" />
                    </div>
                    <div class="porcentajeCarga">

                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre archivo</th>
                            <th>Tipo archivo</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody class="tbArchivos">

                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="row marginNull rowHerramientas">
    <div class="col-lg-4">

        <label for="txtDireccion">Ruta</label>
        <div class="input-group">
            <input class="form-control txtDireccion inputBackModal" name="txtDireccion" value="@carpetaActual._ruta" />
            <span class="input-group-addon spIrBuscar">Ir</span>
        </div>
        
    </div>
    <div class="col-lg-4 seccionHerramientas">
        <label>Herramientas</label>
        
        <div class="accionesDiv form-control inputBackModal">
            <a href="#" class="ico icoSubirFichero" title="Subir fichero">
                <i class="fa fa-upload"></i>
            </a>
            <a href="#" class="ico" title="Editar">
                <i class="fa fa-times"></i>
            </a>
            <a href="#" class="ico" title="Editar">
                <i class="fa fa-pencil-square-o"></i>
            </a>
            <a href="#" class="ico" title="Compartir">
                <i class="fa fa-share"></i>
            </a>
            <a href="#" class="ico" title="Publicar website">
                <i class="fa fa-globe"></i>
            </a>
            <a href="#" class="ico" title="Descargar">
                <i class="fa fa-download"></i>
            </a>
            <a href="#" class="ico icoNuevaCarpeta" title="Nueva carpeta">
                <i class="fa fa-folder"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <label>Busqueda</label>
        <div class="input-group">
            <input class="form-control txtBusqueda inputBackModal" name="txtBusqueda" placeholder="Buscar en carpeta" />
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
</div>

<div id="tab-1" class="row tab marginNull">
    <input type="hidden" class="txtHdIdCarpetaPadre" value="@ViewBag.idCarpetaActual" />
    <div class="folders col-lg-8" >
        @if (carpetas != null && carpetas.Count > 0)
        {
            foreach (Carpeta carpeta in carpetas)
            {
                <div class="col-lg-2 folder">
                    
                    <input type="hidden" class="txtHdIdCarpeta" value="@carpeta._idCarpeta"/>
                    <div class="row divHerramientasIndividual">
                        <a href="#" class="ico" title="Descargar">
                            <i class="fa fa-download"></i>
                        </a>
                        <a href="#" class="ico icoEliminarCarpeta" title="Eliminar">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                    <!--<a href="@Url.Action("Index", "Repositorio", new { id = @carpeta._idCarpeta })">-->
                        <div class="cuadritoIcono cuadritoCarpeta">
                            <img src="~/Content/themes/iusback_theme/img/general/repositorio/@carpeta.getIcono" />
                            <div class="detalleCarpeta">
                                <div class="normalMode sinRedirect">
                                    <h3 class="ttlNombreCarpeta">@carpeta._nombre</h3>
                                </div>
                                <div class="row marginNull hidden editMode sinRedirect">
                                    <div class='row marginNull inputNombreCarpeta'>
                                        <input type='text' class='form-control txtNombreCarpeta'>
                                    </div>
                                    <div class='row marginNull'>
                                        <button class='btn btn-xs btnEditarCarpeta'>Actualizar</button>
                                        <button class='btn btn-xs btnCancelarEdicionCarpeta'>Cancelar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    <!--</a>-->
                </div>
            }
        }
        @if (archivos != null && archivos.Count > 0)
        {
            foreach (Archivo archivo in archivos)
            {
                <div class="col-lg-2 folder">
                    <input type="hidden" class="txtHdIdArchivo" value="@archivo._idArchivo"/>
                    <div class="row divHerramientasIndividual">
                        <a href="#" class="icoCompartirFile" title="Compartir">
                            <i class="fa fa-share"></i>
                        </a>
                        <a href="@Url.Action("DescargarFichero", "Repositorio", new { id= archivo._idArchivo })" class="ico" title="Descargar">
                            <i class="fa fa-download"></i>
                        </a>
                        <a href="#" class="ico icoEliminarArchivo" title="Eliminar">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                    <div class="cuadritoIcono ">
                        <img src="~/Content/themes/iusback_theme/img/general/repositorio/@archivo._extension._tipoArchivo._icono" />
                        <div class="detalleCarpeta">
                            <div class="normalMode">
                                <h3 class="ttlNombreCarpeta">@archivo._nombre</h3>
                            </div>
                            <div class="row marginNull hidden editMode">
                                <div class='row marginNull inputNombreCarpeta'>
                                    <input type='text' class='form-control txtNombreCarpeta'>
                                </div>
                                <div class='row marginNull'>
                                    <button class='btn btn-xs btnEditarArchivo'>Actualizar</button>
                                    <button class='btn btn-xs btnCancelarEdicionCarpeta'>Cancelar</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            }
        }
        <!--
        <div class="col-lg-2 folder ">
            <div class="cuadritoIcono ">
                <img src="~/Content/themes/iusback_theme/img/general/repositorio/folder.png" />
                <div>
                    <h3>Imagenes</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 folder">
            <div class="cuadritoIcono ">
                <img src="~/Content/themes/iusback_theme/img/general/repositorio/image.png" />
                <div>
                    <h3>foto</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 folder">
            <div class="cuadritoIcono ">
                <img src="~/Content/themes/iusback_theme/img/general/repositorio/wordico.png" />
                <div>
                    <h3>Doc</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 folder">
            <div class="cuadritoIcono ">
                <img src="~/Content/themes/iusback_theme/img/general/repositorio/warning.png" />
                <div>
                    <h3>warning</h3>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="shareSection col-lg-4 " >
        <h3 class="text-center">Publico</h3>
        <h4 class="nombreFileCompartir"></h4>
        <div class="row divCompartirOpciones marginNull" >
            <div class="col-lg-8">
                <input placeholder="Nombre publico" class="txtNombreFileCompartir form-control" />
            </div>
            <div class="col-lg-4">
                <button class="btn btnCompartir">Compartir aqui</button>
            </div>
        </div>
        <div class="row divCarpetasOpciones marginNull">

        </div>
    </div>
</div>
<div id="tab-2" class="row hidden tab marginNull">
    Compartidos
</div>