@using IUSLibs.REPO.Entidades
@section estilosPersonalizados{
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/universales/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/media.css" />
}
@section scriptsPersonalizados{
    <!-- Propios -->
        <script src="~/Scripts/Views/Repositorio/script.js"></script>
        <script src="~/Scripts/Views/Repositorio/universales/functions.js"></script>
        <script src="~/Scripts/Views/Repositorio/functions.js"></script>
}
@{
    List<Carpeta> carpetas  = (List<Carpeta>)ViewBag.carpetas;
    List<Archivo> archivos  = (List<Archivo>)ViewBag.archivos;
    Carpeta carpetaActual   = (Carpeta)ViewBag.carpetaActual;
    int vista               = (int)ViewBag.vista; // -1 cuadricula, 1 lista
    string oculto = "hidden",vistaActiva = "activeVista";
    string[] clases = new string[2];
    string[] activeVista = new string[2];
    switch (vista)
    {
        case -1: // cuadricula 
            {
                clases[0]       = oculto;       clases[1]       = "";
                activeVista[0]  = vistaActiva;  activeVista[1]  = "";
                break;
            }
        case 1: // lista 
            {
                clases[0]       = "";       clases[1]       = oculto;
                activeVista[0]  = "";       activeVista[1]  = vistaActiva;
                break;
            }
    }
}
@section tabs{
    <ul>
        <li class="btnTab tabActive" target="#tab-1">
            Personales
        </li>
        <a href="@Url.Action("Index","RepositorioCompartido")">
            <li >
                Compartidos
            </li>
        </a>
        <a href="@Url.Action("Index","RepositorioPublico")">
            <li  >
                Publicos
            </li>
        </a>
    </ul>    
}
<div class="modal divUpload">
    <div id="contenerdorCargadorAjax" class="padreContenedorUpload">
        <div id="cargadorAjaxUniversal" class="contenedorUpload">
            <div class="row marginNull">
                <div class="col-lg-offset-11 col-lg-1">
                    <i class="fa fa-times pointer closeModal"></i>
                </div>
            </div>
            <div class="divInfoI">
                <h3 class="tituloSecciones">Cargar ficheros</h3>
                <input type="hidden" class="txtHdEstadoUpload" value="-1" />
                <form id="frmSubir" action="@Url.Action("sp_repo_uploadFile","Repositorio")">
                    <div class="row marginNull divInputFile">
                        <input type="file" id="flArchivos" multiple />
                    </div>
                    <button class="btn btn-default" type="submit">Subir</button>
                    <h3 class="tituloSecciones">Ficheros cargados</h3>
                    <div class="loadAjax">
                        <div class="row marginNull imgCargando">
                            <img src="~/Content/themes/iusback_theme/img/general/ajax-loader.gif" class="hidden" />
                        </div>
                        <div class="porcentajeCarga">

                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre archivo</th>
                                <th>Tipo archivo</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody class="tbArchivos"></tbody>
                    </table>
                </form>
            </div>
            
        </div>
    </div>
</div>
<div class="row marginNull rowHerramientas">
    <div class="col-lg-3">

        <label for="txtDireccion">Ruta</label>
        <div class="input-group">
            <input class="form-control txtDireccion inputBackModal" name="txtDireccion" value="@carpetaActual._ruta" />
            <span class="input-group-addon spIrBuscar pointer">Ir</span>
        </div>
        
    </div>
    <div class="col-lg-1">
        <label class="visibilitiHidden">_</label>
        <div class="row marginNull text-center">
            <a href="#" class="btnNavHistory" id="0" title="Atras">
                <i class="fa fa-chevron-left"></i>
            </a>
        </div>
        

    </div>
    <div class="col-lg-2 seccionHerramientas">
        <label>Herramientas</label>
        <div class="accionesDiv form-control inputBackModal">
            <a href="#" class="ico icoSubirFichero" title="Subir fichero">
                <i class="fa fa-upload"></i>
            </a>
            <a href="#" class="ico icoNuevaCarpeta" title="Nueva carpeta">
                <i class="fa fa-folder"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-2">
        <label>Vistas</label>
        <div class="herramientaVistaSection accionesDiv form-control inputBackModal">
            <a href="#" class="ico iconoVistaCuadricula  @activeVista[0] " title="Cuadricula"><!--activeVista-->
                <i class="fa fa-th-large"></i>
            </a>
            <a href="#" class="ico icoVistaLista @activeVista[1]" title="Lista">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-1">
        <label class="visibilitiHidden">_</label>
        <div class="row marginNull text-center">
            <a href="#" class="btnNavHistory" id="1" title="Adelante">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
        
    </div>
    <div class="col-lg-3">
        <div class="col-lg-6">
            <label>Busqueda</label>
        </div>
        <div class="row marginNull">
            En carpeta <input type="radio" name="rdBusqueda" class="rdBusqueda" value="0" checked/>
            Todo <input type="radio" name="rdBusqueda" class="rdBusqueda" value="1" />
        </div>
        <div class=" divBusquedaArchivos">
            <input class="form-control txtBusqueda inputBackModal" name="txtBusqueda" placeholder="Buscar en carpeta" />
            <span class="input-group-addon pointer btnBusqueda visibilitiHidden">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
</div>

<div id="tab-1" class="row tab marginNull">
    <input type="hidden" class="txtHdIdCarpetaPadre" value="@ViewBag.idCarpetaActual" />
    <div class="divMensajesGenerales">

    </div>
    <div class="folders col-lg-8" >
        <!-- 
        
            -->
        <div class="row marginNull">
            <h3 class="encabezadoFicheros">@carpetaActual._nombre</h3>
        </div>
        <div class="listView @clases[0]">
            <div class="row divCabeceraList">
                <div class="col-lg-6">
                    Nombre
                </div>
                <div class="col-lg-2">
                    Tipo
                </div>
                <div class="col-lg-2">
                    Fecha de creación
                </div>
                <div class="col-lg-2">
                    Acciones
                </div>
            </div>
            <div class="targetListView">
                @if (carpetas != null && carpetas.Count > 0 && vista == 1)
                {
                    foreach (Carpeta carpeta in carpetas)
                    {
                        <div class='row folderDetalles carpetaDetalle '>
                            <input type='hidden' class='txtHdIdCarpeta' value="@carpeta._idCarpeta">
                            <div class='col-lg-6'>
                                <i class='fa fa-folder'></i>
                                <div class='normalMode inline'><span class='spanNombreCarpeta sinRedirect ttlNombreCarpeta'>@carpeta._nombre</span></div>
                                <div class='editMode inline hidden'><input class='txtNombreCarpetaDetalle sinRedirect'></div>
                            </div>
                            <div class='col-lg-2'>Folder</div>
                            <div class='col-lg-2'>@carpeta.getFechaCreacion</div>
                        </div>
                    }

                }

                @if (archivos != null && archivos.Count > 0 && vista == 1)
                {
                    foreach (Archivo archivo in archivos)
                    {
                        <div class='row folderDetalles folderUni'>
                            <input type='hidden' class='txtHdIdArchivo' value="@archivo._idArchivo">
                            <div class='col-lg-6'>
                                <div class='normalMode inline'>
                                    <span class='spanNombreCarpeta sinRedirect nombreAcompartir ttlNombreCarpeta'>@archivo._nombre</span>
                                </div>
                                <div class='editMode inline hidden'><input class='txtNombreCarpetaDetalle txtNombreArchivoDetalle sinRedirect'></div>
                            </div>
                            <div class='col-lg-2'>@archivo._extension._tipoArchivo._tipoArchivo </div>
                            <div class='col-lg-2'>@archivo.getFechaCreacion</div>
                            <div class="col-lg-2 divAccionesLista">
                                <div class="btn-group">
                                    <a href="#" class="btnAccion btn btn-default icoCompartirFile" title="Compartir">
                                        <i class="fa fa-share"></i>
                                    </a>
                                    <a class="btnAccion btn btn-default ico" href="@Url.Action("DescargarFichero", "Repositorio", new { id= archivo._idArchivo })" title="Descargar">
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <a href="#" class="btnAccion btn btn-default ico icoEliminarArchivo" title="Eliminar">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </div>
                                @*<div class="btn-group">
                                    <button class="btn btn-default">
                                        <i class="fa fa-share"></i>
                                    </button>
                                    <button class="btn btn-default">
                                        <i class="fa fa-download"></i>
                                    </button>
                                    <button class="btn btn-default">
                                        <i class="fa fa-share"></i>
                                    </button>
                                </div>*@
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="cuadriculaView @clases[1]">
            @if (carpetas != null && carpetas.Count > 0 && vista == -1)
            {
                foreach (Carpeta carpeta in carpetas)
                {
                    <div class="col-lg-2 folder">
                        <input type="hidden" class="txtHdIdCarpeta" value="@carpeta._idCarpeta"/>
                        <!--<a href="@Url.Action("Index", "Repositorio", new { id = @carpeta._idCarpeta })">-->
                            <div class="cuadritoIcono cuadritoCarpeta">
                                <img class="imgCuadritoIcono" src="~/Content/themes/iusback_theme/img/general/repositorio/@carpeta.getIcono" />
                                <div class="btn-group">
                                    <div class="ico btnAccion btn btn-default icoEliminarCarpeta " title="Eliminar">
                                        <i class="fa fa-trash-o"></i>
                                    </div>
                                </div>
                                <div class="detalleCarpeta">
                                    <div class="normalMode sinRedirect">
                                        <h3 class="ttlNombreCarpeta">@carpeta._nombre</h3>
                                    </div>
                                    <div class="row marginNull hidden editMode sinRedirect">
                                        <div class='row marginNull inputNombreCarpeta'>
                                            <input type='text' class='form-control txtNombreCarpeta'>
                                        </div>
                                        <div class='row marginNull'>
                                            <div class="btn-group">
                                                <button class='btn btn-default btn-xs btnEditarCarpeta'>Hecho</button>
                                                <button class='btn btn-default btn-xs btnCancelarEdicionCarpeta'>Cancelar</button>
                                            </div>
                                        </div>
                                        <div class="row marginNull mensajeFolder">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        <!--</a>-->
                    </div>
                }
            }
            @if (archivos != null && archivos.Count > 0 && vista == -1)
            {
                foreach (Archivo archivo in archivos)
                {
                    <div class="col-lg-2 folder folderUni">
                        <input type="hidden" class="txtHdIdArchivo" value="@archivo._idArchivo"/>
                        <div class="cuadritoIcono">
                            <img class="imgCuadritoIcono" src="~/Content/themes/iusback_theme/img/general/repositorio/@archivo._extension._tipoArchivo._icono" />
                            <div class="btn-group">
                                <a class="urlDescargar" href="@Url.Action("DescargarFichero", "Repositorio", new { id= archivo._idArchivo })">
                                </a>
                                <div class="btnAccion btn btn-default icoCompartirFile" title="Compartir">
                                    <i class="fa fa-share"></i>
                                </div>
                                <div class="btnAccion btn btn-default ico divDescargar" title="Descargar">
                                    <i class="fa fa-download"></i>
                                </div>
                                <div class="btnAccion btn btn-default ico icoEliminarArchivo" title="Eliminar">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </div>
                            <div class="detalleCarpeta">
                                <div class="normalMode">
                                    <h3 class="ttlNombreCarpeta nombreAcompartir">@archivo._nombre</h3>
                                </div>
                                <div class="row marginNull hidden editMode">
                                    <div class='row marginNull inputNombreCarpeta'>
                                        <input type='text' class='form-control txtNombreCarpeta txtNombreArchivo'>
                                    </div>
                                    <div class='row marginNull'>
                                        <div class="btn-group">
                                            <button class='btn btn-default btn-xs btnEditarArchivo'>Hecho</button>
                                            <button class='btn btn-default btn-xs btnCancelarEdicionCarpeta'>Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="shareSection col-lg-4 " >
        <input type="hidden" name="txtHdIdArchivoCompartir" class="txtHdIdArchivoCompartir" value="-1" />
        <h3 class="text-center">Publico</h3>
        <h4 class="nombreFileCompartir"></h4>
        <div class="row divCompartirOpciones marginNull" >
            
            <div class="input-group">
                <input placeholder="Nombre publico" name="txtNombreFileCompartir" class="txtNombreFileCompartir form-control inputBackModal" />
                <span class=" input-group-addon btn btnCompartir">Compartir aqui</span>
            </div>
        </div>
        <hr />
        <div class="row divCarpetasOpciones  marginNull">
            <input type="hidden" name="txtHdCarpetaPadrePublica" class="txtHdCarpetaPadrePublica" value="-1" />
            
            <div class="row marginNull divControlesPublicos">
                <div class="col-lg-1 navPublicoBack">
                    <i class="fa fa-chevron-left icoPublicoBack pointer"></i>
                </div>
                <div class="col-lg-10">
                    <div class="input-group">
                        <input class="form-control txtRutaPublica inputBackModal" value="/" />
                        <span class="input-group-addon pointer spIrPublico">Ir</span>
                    </div>
                    
                    <div class="row marginNull divMensajeRepoPublico">

                    </div>
                </div>
            </div>
            
            <div class="divCarpetasPublicasCompartir">

            </div>
        </div>
    </div>
</div>
<div id="tab-2" class="row hidden tab marginNull">
    Compartidos
</div>