@using IUSLibs.REPO.Entidades
@section estilosPersonalizados{
    <!-- Propios -->
        @*<link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/universales/style.css" />*@
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/stylei.css" />
        @*<link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Repositorio/media.css" />*@
}
@section scriptsPersonalizados{
    <!-- Propios -->
        <script src="~/Scripts/Views/Repositorio/script.js"></script>
        <script src="~/Scripts/Views/Repositorio/universales/functions.js"></script>
        <script src="~/Scripts/Views/Repositorio/functions.js"></script>
}
@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
    
    List<Carpeta> carpetas  = (List<Carpeta>)ViewBag.carpetas;
    List<Archivo> archivos  = (List<Archivo>)ViewBag.archivos;
    Carpeta carpetaActual   = (Carpeta)ViewBag.carpetaActual;
    int vista               = (int)ViewBag.vista; // -1 cuadricula, 1 lista
    string oculto = "hidden",vistaActiva = "activeVista";
    string[] clases = new string[2];
    string[] activeVista = new string[2];
    switch (vista)
    {
        case -1: // cuadricula 
            {
                clases[0]       = oculto;       clases[1]       = "";
                activeVista[0]  = vistaActiva;  activeVista[1]  = "";
                break;
            }
        case 1: // lista 
            {
                clases[0]       = "";       clases[1]       = oculto;
                activeVista[0]  = "";       activeVista[1]  = vistaActiva;
                break;
            }
    }
}
@*@Html.Partial("~/Views/Shared/Repositorio/nav.cshtml")*@
<input type="hidden" class="txtHdNombreControlador" value="@ViewBag.nombreControlador" />
<input type="hidden" class="txtHdMetodo" value="@ViewBag.nombreMetodo" />
<div class="modal divUpload">
    <div id="contenerdorCargadorAjax" class="padreContenedorUpload">
        <div id="cargadorAjaxUniversal" class="contenedorUpload">
            <div class="row marginNull">
                <div class="col-lg-offset-11 col-lg-1">
                    <i class="fa fa-times pointer closeModal"></i>
                </div>
            </div>
            <div class="divInfoI">
                <h3 class="tituloSecciones">Cargar ficheros</h3>
                <input type="hidden" class="txtHdEstadoUpload" value="-1" />
                <form id="frmSubir" action="@Url.Action("sp_repo_uploadFile","Repositorio")">
                    <div class="row marginNull divInputFile">
                        <input type="file" id="flArchivos" multiple />
                    </div>
                    <button class="btn btn-default btnBack" type="submit">Subir</button>
                    <div class="row marginNull divMensajes">
                        
                    </div>
                    <h3 class="tituloSecciones">Ficheros cargados</h3>
                    <div class="loadAjax">
                        <div class="row marginNull imgCargando">
                            <img src="~/Content/themes/iusback_theme/img/general/ajax-loader.gif" class="hidden" />
                        </div>
                        <div class="porcentajeCarga">

                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre archivo</th>
                                <th>Tipo archivo</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody class="tbArchivos"></tbody>
                    </table>
                </form>
            </div>
            
        </div>
    </div>
</div>
<div class="centroRepo contenidoCuerpo">
    <div class="row marginNull">
        <div class="row marginNull rowNavegacion">
            <span>
                <a href="@Url.Action("Index","Home")">
                    Menu principal
                </a>
            </span>
            >>>
            <span class="titulo">
                Gestion de repositorio
            </span>
        </div>
    </div>
    <div class="row marginNull">
        <div class="row marginNull rowHerramientas" id="rowHerramientas">
            <div class="col-lg-3">

                <label for="txtDireccion">Ruta</label>
                <div class="input-group">
                    <input class="inputBack form-control txtDireccion inputBackModal" name="txtDireccion" value="@carpetaActual._ruta" />
                    <span class="input-group-addon spIrBuscar pointer">Ir</span>
                </div>

            </div>
            <div class="col-lg-1">
                <label class="visibilitiHidden">_</label>
                <div class="row marginNull text-center">
                    <a href="#" class="btn btn-default btnNavHistory bordeStandar" id="0" title="Atras">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>


            </div>
            <div class="col-lg-2 seccionHerramientas">
                <label>Herramientas</label>
                <div class="accionesDiv inputBack form-control inputBackModal">
                    <a href="#" class="ico icoSubirFichero" title="Subir fichero">
                        <i class="fa fa-upload"></i>
                    </a>
                    <a href="#" class="ico icoNuevaCarpeta" title="Nueva carpeta">
                        <i class="fa fa-folder"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2">
                <label>Vistas</label>
                <div class="herramientaVistaSection accionesDiv inputBack form-control inputBackModal">
                    <a href="#" class="ico iconoVistaCuadricula @activeVista[0] " title="Cuadricula"><i class="fa fa-th-large"></i></a>
                    <a href="#" class="ico icoVistaLista @activeVista[1]" title="Lista">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-1">
                <label class="visibilitiHidden">_</label>
                <div class="row marginNull text-center">
                    <a href="#" class="btn btn-default btnNavHistory bordeStandar" id="1" title="Adelante">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="col-lg-6">
                    <label>Busqueda</label>
                </div>
                <div class="row marginNull">
                    En carpeta <input type="radio" name="rdBusqueda" class="rdBusqueda" value="0" checked />
                    Todo <input type="radio" name="rdBusqueda" class="rdBusqueda" value="1" />
                </div>
                <div class="input-group divBusquedaArchivos">
                    <input class="inputBack form-control txtBusqueda inputBackModal" name="txtBusqueda" placeholder="Buscar en carpeta" />
                    <span class="input-group-addon pointer btnBusqueda visibilitiHidden">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row marginNull">
        <div class="col-lg-2">
            @Html.Partial("~/Views/Shared/Repositorio/nav.cshtml")
            @*<ul class="tabs">
                <li class="btnTab tabActive" target="#tab-1" id="1">
                    <span>Asignar roles</span>
                </li>
                <li class="btnTab" target="#tab-2" id="2">
                    Permisos roles
                </li>
                <li class="btnTab " target="#tab-3" id="3">
                    Administrar roles
                </li>
            </ul>*@
        </div>
        <div class="col-lg-10">
            <div class="row marginNull centroArchivos">
                
                <div id="tab-1" class="row tab marginNull">
                    <input type="hidden" class="txtHdIdCarpetaPadre" value="@ViewBag.idCarpetaActual" />
                    <div class="divMensajesGenerales">

                    </div>
                    <div class="folders col-lg-7" id="folders">
                        <!-- -->
                        <div class="row marginNull">

                        </div>
                        <div class="row marginNull">
                            <h3 class="encabezadoFicheros">@carpetaActual._nombre</h3>
                        </div>
                        <div class="marginNull listView @clases[0]">
                            <div class="row marginNull divCabeceraList">
                                <div class="col-lg-5">
                                    Nombre
                                </div>
                                <div class="col-lg-2">
                                    Tipo
                                </div>
                                <div class="col-lg-2">
                                    Fecha
                                </div>
                                <div class="col-lg-2">
                                    Acciones
                                </div>
                            </div>
                            <div class="row marginNull targetListView">
                                @if (carpetas != null && carpetas.Count > 0 && vista == 1)
                                {
                                    foreach (Carpeta carpeta in carpetas)
                                    {
                                        <div class='row folderDetalles carpetaDetalle marginNull'>
                                            <input type='hidden' class='txtHdIdCarpeta' value="@carpeta._idCarpeta">
                                            <div class='col-lg-5'>
                                                <div class='normalMode inline'><span class='spanNombreCarpeta sinRedirect ttlNombreCarpeta'>@carpeta._nombre</span></div>
                                                <div class='editMode inline hidden'><input class='txtNombreCarpetaDetalle sinRedirect'></div>
                                            </div>
                                            <div class='col-lg-2'>Folder</div>
                                            <div class='col-lg-2'>@carpeta.getFechaCreacion</div>
                                            <div class='col-lg-2 btnEliminarLista'>
                                                <div class="btn btn-block btn-default btnBack">
                                                    <i class='fa fa-trash'></i>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }

                                @if (archivos != null && archivos.Count > 0 && vista == 1)
                                {
                                    foreach (Archivo archivo in archivos)
                                    {
                                        <div class='row marginNull folderDetalles folderUni'>
                                            <input type='hidden' class='txtHdIdArchivo' value="@archivo._idArchivo">
                                            <div class='col-lg-5'>
                                                <div class='normalMode inline'>
                                                    <span class='spanNombreCarpeta sinRedirect nombreAcompartir ttlNombreCarpeta'>@archivo._nombre</span>
                                                </div>
                                                <div class='editMode inline hidden'><input class='inputBack txtNombreCarpetaDetalle txtNombreArchivoDetalle sinRedirect'></div>
                                            </div>
                                            <div class='col-lg-2'>@archivo._extension._tipoArchivo._tipoArchivo </div>
                                            <div class='col-lg-2'>@archivo.getFechaCreacion</div>
                                            <div class="col-lg-2 divAccionesLista">
                                                <div class="btn-group">
                                                    <a href="#" class="btnAccion btn btn-default btn-block icoCompartirFile btnArchivo btnBack" title="Compartir">
                                                        <i class="fa fa-share"></i>
                                                    </a>
                                                    <a class="btnAccion btn btn-default btn-block ico btnBack btnArchivo" href="@Url.Action("DescargarFichero", "Repositorio", new { id= archivo._idArchivo })" title="Descargar">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                    <a href="#" class="btnAccion btn btn-default btn-block btnBack ico icoEliminarArchivo btnArchivo" title="Eliminar">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="marginNull cuadriculaView @clases[1]">
                            @if (carpetas != null && carpetas.Count > 0 && vista == -1)
                            {
                                foreach (Carpeta carpeta in carpetas)
                                {
                                    <div class="col-lg-4 folder">
                                        <input type="hidden" class="txtHdIdCarpeta" value="@carpeta._idCarpeta" />
                                        <!--<a href="@Url.Action("Index", "Repositorio", new { id = @carpeta._idCarpeta })">-->
                                        <div class="cuadritoIcono cuadritoCarpeta">
                                            @*<img class="imgCuadritoIcono" src="~/Content/themes/iusback_theme/img/general/repositorio/@carpeta.getIcono" />*@
                                            <i class="fa fa-folder-o folderRepo" aria-hidden="true"></i>


                                            <div class="btn-group">
                                                <div class="ico btnAccion btnBack btn btn-default icoEliminarCarpeta " title="Eliminar">
                                                    <i class="fa fa-trash-o icoTrashEliminar"></i>
                                                </div>
                                            </div>
                                            <div class="detalleCarpeta">
                                                <div class="normalMode sinRedirect">
                                                    <h3 class="ttlNombreCarpeta">@carpeta._nombre</h3>
                                                </div>
                                                <div class="row marginNull hidden editMode sinRedirect">
                                                    <div class='row marginNull inputNombreCarpeta'>
                                                        <input type='text' class='form-control txtNombreCarpeta inputBack'>
                                                    </div>
                                                    <div class='row marginNull'>
                                                        <div class="btn-group">
                                                            <button class='btn btn-default btn-xs btnEditarCarpeta btnBack'>Hecho</button>
                                                            <button class='btn btn-default btn-xs btnCancelarEdicionCarpeta btnBack'>Cancelar</button>
                                                        </div>
                                                    </div>
                                                    <div class="row marginNull mensajeFolder">

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            @if (archivos != null && archivos.Count > 0 && vista == -1)
                            {
                                foreach (Archivo archivo in archivos)
                                {
//                                    
//
//
//
                                    <div class="col-lg-4 folder folderUni">
                                        <input type="hidden" class="txtHdIdArchivo" value="@archivo._idArchivo" />
                                        <div class="cuadritoIcono">
                                            @*<img class="imgCuadritoIcono" src="~/Content/themes/iusback_theme/img/general/repositorio/@archivo._extension._tipoArchivo._icono" />*@
                                            @if (archivo._extension._tipoArchivo._tipoArchivo == "Imagenes") {
                                                <i class="fa fa-picture-o icoCuadricula" aria-hidden="true"></i>
                                            }
                                            else if (archivo._extension._tipoArchivo._tipoArchivo == "Video")
                                            {
                                                <i class="fa fa-video-camera icoCuadricula" aria-hidden="true"></i>
                                            }
                                            else if (archivo._extension._tipoArchivo._tipoArchivo == "Audio")
                                            {
                                                <i class="fa fa-music icoCuadricula" aria-hidden="true"></i>
                                            }
                                            else if (archivo._extension._tipoArchivo._tipoArchivo == "Documentos")
                                            {
                                                <i class="fa fa-file-text-o icoCuadricula" aria-hidden="true"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-exclamation-triangle icoCuadricula" aria-hidden="true"></i>
                                                @*<img class="imgCuadritoIcono" src="~/Content/themes/iusback_theme/img/general/repositorio/@archivo._extension._tipoArchivo._icono" />*@
                                            }
                                            <div class="row marginNull">
                                                <a class="urlDescargar" href="@Url.Action("DescargarFichero", "Repositorio", new { id= archivo._idArchivo })">
                                                </a>
                                                <div class="btnAccion btn btnBack btn-default icoCompartirFile btn-block" title="Compartir">
                                                    <i class="fa fa-share icoTrashEliminar"></i>
                                                </div>
                                                <div class="btnAccion btn btnBack btn-default ico divDescargar btn-block" title="Descargar">
                                                    <i class="fa fa-download icoTrashEliminar"></i>
                                                </div>
                                                <div class="btnAccion btn btnBack btn-default ico icoEliminarArchivo btn-block" title="Eliminar">
                                                    <i class="fa fa-trash-o icoTrashEliminar"></i>
                                                </div>
                                            </div>
                                            <div class="detalleCarpeta">
                                                <div class="normalMode">
                                                    <h3 class="ttlNombreCarpeta nombreAcompartir">@archivo._nombre</h3>
                                                </div>
                                                <div class="row marginNull hidden editMode">
                                                    <div class='row marginNull inputNombreCarpeta'>
                                                        <input type='text' class='form-control txtNombreCarpeta txtNombreArchivo inputBack'>
                                                    </div>
                                                    <div class='row marginNull'>
                                                        <div class="btn-group">
                                                            <button class='btn btn-default btn-xs btnEditarArchivo btnBack'>Hecho</button>
                                                            <button class='btn btn-default btn-xs btnCancelarEdicionCarpeta btnBack'>Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="shareSection col-lg-5 ">
                        <input type="hidden" name="txtHdIdArchivoCompartir" class="txtHdIdArchivoCompartir" value="-1" />
                        <h3 class="text-center">Publico</h3>
                        <h4 class="nombreFileCompartir"></h4>
                        <div class="row divCompartirOpciones marginNull">

                            <div class="input-group">
                                <input placeholder="Nombre publico" name="txtNombreFileCompartir" class="borde txtNombreFileCompartir form-control inputBackModal" />
                                <span class=" input-group-addon btn btnCompartir">Compartir aqui</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row divCarpetasOpciones  marginNull">
                            <input type="hidden" name="txtHdCarpetaPadrePublica" class="txtHdCarpetaPadrePublica" value="-1" />

                            <div class="row marginNull divControlesPublicos">
                                <div class="col-lg-1 navPublicoBack">

                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group">
                                        <i class="fa fa-chevron-left icoPublicoBack pointer input-group-addon btnAccion "></i>
                                        <input class="form-control txtRutaPublica inputBackModal borde" value="/" />
                                        <span class="input-group-addon pointer spIrPublico">Ir</span>
                                    </div>

                                    <div class="row marginNull divMensajeRepoPublico">

                                    </div>
                                </div>
                            </div>

                            <div class="divCarpetasPublicasCompartir">

                            </div>
                            <div class="row marginNull text-center">
                                <h4 class="tituloBusquedaFolderPublico">Buscar carpeta publica</h4>
                                <input class="txtBusquedaCarpetaPublica form-control inputBack" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="row hidden tab marginNull">
                    Compartidos
                </div>
            </div>
            
        </div>
    </div>
   
</div>
