@{
    String menu = ViewBag.subMenus;
}
<!DOCTYPE html>
<html>
<head>
    <title>Este es ius back end</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" />
    @Scripts.Render("~/bundles/scriptsGenerales")
    <!-- JQuery UI -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @Styles.Render("~/bundles/bootstrap")
    @RenderSection("estilosPersonalizados", false)
</head>
<body>
    <header>
        <div class="row marginNull">
            <div class="col-lg-2 sectionLogoMenu">
                <img src="~/Content/themes/iusback_theme/img/general/logo_ius.png"/>
            </div>
            <div class="col-lg-10 paddingNull">
                <nav class="menu">
                    @(new HtmlString(menu))
                    
                </nav>
            </div>
        </div>
        <div class="row otherMenuGray">
            @Html.Partial("accesibilidad");
        </div>
    </header>

    @RenderBody()
    @RenderSection("scriptsPersonalizados", false)
</body>
</html>