@using IUSLibs.RRHH.Entidades
@{
    InformacionPersona informacion = (InformacionPersona)ViewBag.informacionPersonaGlobal;
    string fotoRuta = Url.Content("~/Content/themes/iusback_theme/img/general/noPickProfile.png");
    string nombrePersona = "";
    if (informacion != null )
    {
        if (informacion._persona != null)
        {
            nombrePersona = informacion._persona.nombreCompleto;
        }
        if (informacion._tieneFoto)
        {
            fotoRuta = Url.Content(informacion._fotoRuta);    
        }        
    }
    string myriadRegular    = IUSLibs.GENERALS.Rutas.IUSBACK + "Content/fonts/Myriad/MyriadPro-regular.otf";
    string myriadBold       = IUSLibs.GENERALS.Rutas.IUSBACK + "Content/fonts/Myriad/MyriadPro-regular.otf";
    int numeroEventos=0,permiso = 0;
    Dictionary<object, object> cnEventos;
    try
    {
        cnEventos = (Dictionary<object,object>)ViewBag.cnEventos;
        numeroEventos = (int)cnEventos["cnAprobar"];
        permiso = (int)cnEventos["permiso"];
    }
    catch (Exception x)
    {
        
    }
}
<html>    
    <head>
        <title>Este es ius back end</title>
        <!-- META -->
            <link rel="icon" href="@Url.Content("~/Content/themes/iusback_theme/img/general/logo_IUS.ico")" />
            <link rel="stylesheet" href="~/Content/themes/iusback_theme/generals/thirdParty/fontAwesome/css/font-awesome.css" />
        <!-- JQuery UI -->
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <style>
                @@font-face {
                    font-family: 'MyriadRegular';
                    src: url(@myriadRegular);
                }
                @@font-face {
                    font-family: 'MyriadBold';
                    src: url(@myriadRegular);
                }            
            </style>
            @Styles.Render("~/bundles/bootstrapi")
            @RenderSection("estilosPersonalizados", false)
        <style>
            .pendientes{
                margin-top: 2%;
                color: white;
            }
        </style>
    </head>
    
    <body>
        <input type="hidden" value="@IUSLibs.GENERALS.Rutas.IUSBACK" class="txtHdIusback" />
        <input type="hidden" value="@IUSLibs.GENERALS.Rutas.IUS" class="txtHdIus" />
        <div class="todo">
            <header>
                <div class="row marginNull centroPagina contenidoHead">
                    <div class="col-lg-3 logoHeader vcenter">
                        <img src="@Url.Content("~/Content/themes/iusback_theme/img/general/logo2.png")" />
                    </div><!--
                    --><div class="col-lg-6 vCenter">
                        <div class="todoIdioma">
                            <div class="tituloIdioma vcenter">Idioma</div>
                            <div class="cajaIdioma">
                                <div class="padreCaja">
                                    <div class="cajaArriba">
                                        <div class="caja">
                                            <select class=" cbIdiomaInterna">
                                                <option value="-1">Idioma</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--
                    --><div class="col-lg-3 vcenter">
                        <div class="col-lg-5 vcenter">
                            <div class="row marginNull divFoto">
                                <img src="@fotoRuta" />
                                @* /Recursos/Personal/1/1_recortada.jpg *@
                            </div>
                        </div><!--
                        --><div class="col-lg-7 vCenter divBienvenida">
                            
                                <span class="row marginNull titulo">
                                    Bienvenido
                                </span>
                                <span class="row marginNull nombre">
                                    @nombrePersona<!-- Hacerlo dinamico -->
                                </span>
                                <span class="row marginNull">
                                    <a href="@Url.Action("changePassword","Home")">
                                        Cambiar contraseña
                                    </a>
                                </span>

                        </div>
                    </div>
                </div>
                <div class="row marginNull centroPagina miniControles">
                    <div class="col-lg-offset-9 col-lg-3">
                        <div class="areaAyuda row marginNull">
                            <a id="menuLogOut" href="#">
                                Cerrar sesion
                            </a>
                            <div class="divAyuda">
                                <img src="@Url.Content("~/Content/themes/iusback_theme/img/general/exclamacion.png")" />
                                Ayuda
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row marginNull rowSearch grisito">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-offset-8 col-lg-2">
                        <div class="form-group has-feedback inputSearchDiv">
                            <input type="text" class="form-control inputSearch" />
                            <i class="glyphicon form-control-feedback icoSearch">
                                <img class="imgLupita" src="@Url.Content("~/Content/themes/iusback_theme/img/general/lupita.png")" />
                            </i>
                        </div>
                    </div>
                </div>
                <div class="row marginNull lineaRoja">
                    <div class="centroPagina pendientes">
                        @if (permiso != 0)
                        {
                            <span>Pendientes publicación: </span><span>@numeroEventos</span>    
                        }
                        
                    </div>
                </div>
            </header>
            @RenderBody()
            @Html.Partial("footeri")
        </div>
        
        @Scripts.Render("~/bundles/scriptsGenerales")
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        @RenderSection("scriptsPersonalizados", false)
    </body>
</html>