@using IUSLibs.SEC.Entidades
@{
    String menu = ViewBag.subMenus;
    DateTime hoy = DateTime.Now;
    Usuario usuarioSession = null;
    List<Menu> menus = null;
    try
    {
        usuarioSession = (Usuario)ViewBag.usuario;
        menus = (List<Menu>)ViewBag.menus;
    }
    catch (Exception)
    {
        
    }
    int selectedMenu; string strActive = "";
    try
    {
        selectedMenu = (int)ViewBag.selectedMenu;
    }
    catch (Exception)
    {
        selectedMenu = -1;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Este es ius back end</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" />-->
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/generals/thirdParty/fontAwesome/css/font-awesome.css" />
    @Scripts.Render("~/bundles/scriptsGenerales")
    <!-- JQuery UI -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @Styles.Render("~/bundles/bootstrap")
    @RenderSection("estilosPersonalizados", false)
</head>
<body>
    <header>
        <div class="row marginNull">
            <div class="col-lg-2 sectionLogoMenu">
                <a href="@ViewBag.urlIUS">@*@Url.Action("Index", "Home")*@
                    <img src="~/Content/themes/iusback_theme/img/general/logo_ius.png" />
                </a>
            </div>
            <div class="col-lg-10 paddingNull">
                <nav class="menu">
                    @(new HtmlString(menu))
                    <ul>
                        
                        @if (menus != null && menus.Count > 0)
                        {
                            int cn = 0;
                            foreach (Menu menucito in menus)
                            {
                                cn++;
                                if (menucito._idMenu == selectedMenu && selectedMenu != -1)
                                {
                                    strActive = "activeMenuPrincipal";
                                }
                                else
                                {
                                    strActive = "";
                                }
                                <li >
                                    <a href="@Url.Content(menucito._enlace)" class="@strActive">
                                        @menucito._menu
                                    </a>
                                </li>
                            }
                        }
                        <li>
                            <a id='menuLogOut' href='#'>Cerrar sesion</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
        <div class="row otherMenuGray">
            <div class="col-lg-2 dataImportanteHeader">
                <div class="titulito">Hoy en IUS</div>
                <div class="divHeaderFecha">
                    <span class="txtHeaderDateActual">@String.Format("{0:dd/MM/yyyy}", hoy)</span>
                    <span class="txtHeaderHoraActual">@String.Format("{0:hh:mm:ss tt}", hoy)</span>
                </div>
                <div>
                    <i class="fa fa-calendar"></i> 0 eventos 
                </div>
            </div>
            <div class="col-lg-8 accesibilidadDiv">
                <h2>@ViewBag.titleModulo</h2>
                <div class="row marginNull divArbol">
                    @RenderSection("arbol", false)
                    
                </div>
                <div class="row tabsHeader col-lg-12">
                    @RenderSection("tabs", false)
                </div>
            </div>
            <div class="col-lg-2 informacionHeaderDiv">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <b>Bienvenido</b>
                    </div>
                    <div class="col-lg-12 text-center">
                        @if (usuarioSession != null)
                        {
                            @usuarioSession._usuario    
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    @Html.Partial("footer")
    @RenderSection("scriptsPersonalizados", false)
</body>
</html>