@using IUS.Models.Entidades
@using IUSLibs.ADMINFE.Entidades
@{
    /*List<NoticiaEvento> noticiasEventos = null;
    try
    {
        noticiasEventos = (List<NoticiaEvento>)ViewBag.notiEvento;
    }
    catch (Exception)
    {

    }*/
    
    Layout = "~/Views/Shared/_Layouti.cshtml";
    
    List<SliderImage> slider = null;
    List<NoticiaEvento> noticiasEventos = null;
    try
    {
        
        noticiasEventos = (List<NoticiaEvento>)ViewBag.notiEvento;
        slider = (List<SliderImage>)ViewBag.slider;
    }
    catch (Exception)
    {

    }
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/home/Indexi/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/home/Indexi/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Home/Indexi/script.js"></script>
    <script src="~/Scripts/views/Home/Indexi/functions.js"></script>
}
<div class="row marginNull rowSlider slider">
    @if (slider != null)
    {
        int cn = 0;
        string clases = "";
        if (slider.Count > 1)
        {
            <div class="navs col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pointer">
                    <i class="fa fa-chevron-left navBtn navLeft" direccion="0"></i>
                </div>
                <div class="col-xs-offset-10 col-xs-1 col-sm-offset-10 col-sm-1 col-md-offset-10 col-md-1 col-lg-offset-10 col-lg-1 pointer">
                    <i class="fa fa-chevron-right navBtn navRight" direccion="1"></i>
                </div>
            </div>
        }
        foreach (SliderImage image in slider)
        {
            if (cn == 0)
            {
                clases = "activeSliderImage";
            }
            else
            {
                clases = "hidden";
            }
            <img class="@clases imgSlider" src="data:image/png;base64,@Convert.ToBase64String(image._imagen)" />
            cn++;
        }
    }
    @*<img src="@Url.Content("~/Content/images/views/Home/Slider/1.png")"/>*@
</div>
<div class="row marginNull divBloques">
    <div class="centroPagina">
        <div class="col-lg-6 bloque bloqueLink">
            <input type="hidden" class="txtHdUrlLink" value="@Url.Action("Index","Instituciones")" />
            <h2>
                @*Instituciones*@
                @ViewData["menu2.2"]
            </h2>
            <img src="@Url.Content("~/Content/images/views/Home/bloques/instituciones.png")" />
        </div>
        <div class="col-lg-6 bloque bloqueLink">
            <input type="hidden" class="txtHdUrlLink" value="@Url.Action("Index","Repositorio")" />
            <h2>
                @*Recursos*@
                @ViewData["menu2.4"]
            </h2>
            <img src="@Url.Content("~/Content/images/views/Home/bloques/recursos.png")" />
        </div>
        <div class="col-lg-6 bloque bloqueLink">
            <input type="hidden" class="txtHdUrlLink" value="@Url.Action("Index", "Conocenos")" />
            <h2>
                @*Conocenos*@
                @ViewData["menu2.1"]
            </h2>
            <img src="@Url.Content("~/Content/images/views/Home/bloques/identidad.png")" />
        </div>
        <div class="col-lg-6 bloque">
            <h2>Red IUS</h2>
            <img src="@Url.Content("~/Content/images/views/Home/bloques/redIus.png")" />
        </div>
    </div>
    
</div>


@if (ViewBag.footer == null)
{
    <div class="row marginNull seccionNoticiaEvento">
        <div class="centroPagina">
            <div class="row marginNull">
                <div class="col-lg-6 colTituloNoticia">
                    <h2 class="tituloSeccionNoticiaEvento">@ViewData["lb-tituloNoticiaEvento"]</h2>
                </div>
            </div>
            @if (noticiasEventos != null && noticiasEventos.Count > 0)
            {
                int cn = 1; string url; string tituloHover = ""; string src = "";
                foreach (NoticiaEvento noticiaEvento in noticiasEventos)
                {

                    if (noticiaEvento._idTipoEntrada == (int)NoticiaEvento.Tipo.Evento)
                    {
                        if (ViewData["lb-hover-evento"] != null)
                        {
                            tituloHover = ViewData["lb-hover-evento"].ToString();
                        }
                        else
                        {
                            tituloHover = "";
                        }
                        url = Url.Action("Index", "Evento");
                        //src = Url.Content("~/Content/themes/iusback_theme/img/general/image.png");
                        src = ViewBag.urlBack + "Administracion/getImageThumbnailEvent/" + noticiaEvento._id;
                        //Url.Content("~/Content/images/views/Home/noticias/" + cn + ".png");
                    }
                    else if (noticiaEvento._idTipoEntrada == (int)NoticiaEvento.Tipo.Noticia)
                    {
                        if (ViewData["lb-hover-noticia"] != null)
                        {
                            tituloHover = ViewData["lb-hover-noticia"].ToString();
                        }
                        else
                        {
                            tituloHover = "";
                        }

                        url = Url.Action("Index", "Noticias", new { id = noticiaEvento._id });
                        src = Url.Action("getImageThumbnail", "Noticias", new { id = noticiaEvento._id });
                    }
                    else
                    {
                        url = "";
                    }
                    <div class="row marginNull notiEve">
                        <input class="txtHdTipoEntra" type="hidden" value="@noticiaEvento._idTipoEntrada" />
                        <div class="col-lg-6 contentImgNotiEve hoverEventNoti">
                            <div class="text-tituloNotiEve" style="display:none;">@tituloHover</div>
                            <div class="divHoverNotiEve" style="display:none;">
                            </div>
                            <img class="imgNotiEve" src="@src" />
                        </div>
                        <div class="col-lg-6 seccionContenidoNotiEve">
                            <div class="contenido">
                                <h4>@noticiaEvento._titulo</h4>
                                <p>
                                    @noticiaEvento._descripcion
                                </p>
                                <div class="divLinkNotiEve">
                                    <a class="aLeerMas" href="@url">@ViewData["lb-leerMas"]>>></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    cn++;
                }
            }
        </div>
    </div>
}