@model IUSBack.Models.Page.Login.Forms.User
@section estilosPersonalizados {
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Login/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Login/media.css" />    
}
@section scriptsPersonalizados{
    <script src="~/Scripts/Views/Login/script.js"></script>
    <script src="~/Scripts/Views/Login/functions.js"></script>    
}

<div class="container">
    <div class="card card-container divSeleccionLogin">
        <div class="col-lg-6 pointer btnTabsLogin" id="btnUsuarioLogin">
            Usuarios
        </div>
        <div class="col-lg-6 pointer activeMenu btnTabsLogin" id="btnAdminLogin">
            Administradores
        </div>
    </div>
    <div class="card card-container hidden" id="divLoginInvitado">
        <form action="/" id="frmInvitado" method="post">
            <img id="profile-img" class="profile-img-card" src="~/Content/themes/iusback_theme/img/general/profle.png" />
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <span class="visibilitiHidden"> </span>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <span class="visibilitiHidden"> </span>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            <a href="@Url.Action("Registro","Home")" class="forgot-password">
                Registrarse
            </a>
        </form>
    </div>
    <div class="card card-container " id="divLoginAdmin">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="~/Content/themes/iusback_theme/img/general/logo_ius.png" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("index", "Login", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()
            <span id="reauth-email" class="reauth-email"></span>
            <!--<input type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
            @Html.TextBoxFor(frm => frm.usuario, new { @class = "form-control", id = "inputEmail",placeholder="Email address",required="true",autofocus=true })
            <span>@Html.ValidationMessageFor(frm => frm.usuario)</span>
            <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
            @Html.PasswordFor(frm => frm.pass, new { id = "inputPassword", @class = "form-control",placeholder="Password",required=true })
            <span>@Html.ValidationMessageFor(frm => frm.pass)</span>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            <span>@ViewBag.errorLogin</span>
        }
        
    </div>
</div>
