@using IUSLibs.ADMINFE.Entidades
@section estilosPersonalizados{
    <!-- Plugins -->
        <!--Tabs -->
            <link rel="stylesheet" href="~/Content/third-party/tabs-master/css/responsive-tabs.css" />
        <!-- Full calendar -->
            <link href="~/Content/third-party/fullcalendar/fullcalendar.min.css" rel='stylesheet' />
            <link href="~/Content/third-party/fullcalendar/fullcalendar.print.css" media="print" rel="stylesheet" />
        <!-- Date picker -->
            
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Eventos/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Eventos/media.css" />
}
@section scriptsPersonalizados{
    <!-- Plugins -->
        <!-- Tabs -->
            <script src="~/Content/third-party/tabs-master/js/jquery.responsiveTabs.min.js"></script>
        <!-- Full calendar -->
            <script src="~/Content/third-party/fullcalendar/lib/moment.min.js"></script>
            <script src="~/Content/third-party/fullcalendar/fullcalendar.min.js"></script>
    <!-- Propios -->
        <script src="~/Scripts/Views/Administracion/Eventos/script.js"></script>
        <script src="~/Scripts/Views/Administracion/Eventos/functions.js"></script>
}
@{
    List<Evento> eventos = (List<Evento>)ViewBag.eventos;
}
<h2>Eventos</h2>
<div id="horizontalTab">
    <ul class="ulTabGeneral">
        <li>
            <a href="#tab-1">Eventos</a>
        </li>
        <li>
            <a href="#tab-2">Compartir</a>
        </li>
    </ul>
    <div id="tab-1" class="row seccion tab">
        <div class="col-lg-4">
            <form id="frmAgregarEvento">
                <div class="form-group">
                    <label for="txtEvento">Nombre evento</label>
                    <input type="text" class="form-control txtEvento" name="txtEvento" id="txtEvento" placeholder="Evento">
                </div>
                <div class="form-group">
                    <label for="txtAreaDescripcion">Descripcion:</label>
                    <textarea class="form-control txtAreaDescripcion" id="txtAreaDescripcion" name="txtAreaDescripcion" placeholder="Breve explicacion sobre que consiste eventos"></textarea>
                </div>
                <div class="form-group">
                    <label for="txtFechaInicio">Fecha inicio</label>
                    <input type="text" class="form-control dpFecha txtFechaInicio" name="txtFechaInicio" id="txtFechaInicio" />
                </div>
                <div class="form-group">
                    <label for="txtHoraInicio">Hora inicio</label>
                    <input type="time" class="form-control  txtHoraInicio" name="txtHoraInicio" id="txtHoraInicio" />
                </div>
                <div class="form-group">
                    <label for="txtFechaFin">Fecha fin</label>
                    <input type="text" class="form-control dpFecha txtFechaFin" name="txtFechaFin" id="txtFechaFin" />
                </div>
                <div class="form-group">
                    <label for="txtHoraFin">Hora fin</label>
                    <input type="time" class="form-control txtHoraFin" name="txtHoraFin" id="txtHoraFin" />
                </div>
                <div class="form-group">
                    <label for="cbTipoAcceso">Tipo de acceso </label>
                    <select class="form-control cbTipoAcceso" name="cbTipoAcceso" id="cbTipoAcceso"></select>
                </div>
                <div class="form-group">
                    <button class="btnAgregarEvento btn btn-primary" type="submit">
                        Agregar evento
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <div id='calendar'></div>
        </div>
    </div>
    <div id="tab-2" class="tab">
        <div class="col-lg-4">
            <h3>Eventos</h3>
            <div id="accordion">
                <!-- Hermoso acordeon de eventos -->
                @if (eventos != null)
                {
                    foreach (Evento evento in eventos)
                    {
                        <h3>@evento._evento</h3>
                        <div class="detalleEvento">
                            <input type="hidden" name="txtHdIdEvento" class="txtHdIdEvento" value="@evento._idEvento" />
                            <input type="hidden" name="txtHdEstadoEvento" class="txtHdEstadoEstado" value="@Convert.ToInt32(evento._publicado)" />
                            <div class="row">
                                <div class="normalMode">
                                    <p class="text-justify pDescripcionEvento">@evento._descripcion</p>
                                </div>
                                <div class="editMode hidden" >
                                    <div class="editMode hidden">
                                        <label>Descripcion evento</label>
                                    </div>
                                    <textarea class="txtAreaDescripcion form-control" name="txtAreaDescripcion"></textarea>
                                </div>
                                <!-- Motivo para quitar publicacion -->
                                    <div class="quitarPublicacionMode hidden">
                                        <label class="text-center">Motivos para quitar del website</label>
                                        <textarea class="txtAreaMotivoQuitar form-control" name="txtAreaMotivoQuitar"></textarea>
                                    </div>
                                <!-- ------------------------------ -->
                                <hr />
                                <div class="row text-center">
                                    <div class="col-lg-6">
                                        <div class="normalMode">
                                            <label>Inicio: </label>
                                            <span class="spanFechaInicio">@evento.getFechaInicio</span>
                                        </div>
                                        <div class="editMode hidden">
                                            <label>Inicio: </label>
                                            <input class="dpFecha txtFechaInicio form-control" name="txtFechaInicio" />
                                            <input type="time" class="txtHoraInicio form-control" name="txtHoraInicio" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="normalMode">
                                            <label>Fin: </label>
                                            <span class="spanFechaFin">@evento.getFechaFin</span>
                                        </div>
                                        <div class="editMode hidden">
                                            <label>Fin: </label>
                                            <input class="dpFecha txtFechaFin form-control" name="txtFechaFin" />
                                            <input type="time" class="txtHoraFin form-control " name="txtHoraFin" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center sectionBotonesEvento">
                                <div class="normalMode">
                                    <button class="btn btnEditar">Editar</button>
                                    <button class="btn">Compartir</button>
                                    <button class="btn btnPublicar">@evento.txtBtnPublicar</button>
                                </div>                                
                                <div class="editMode hidden">
                                    <button class="btn btnActualizar" >Actualizar</button>
                                    <button class="btn btnCancelar" >Cancelar</button>
                                </div>
                                <div class="quitarPublicacionMode hidden">
                                    <button class="btn btnAccionQuitarPublicacion">Quitar publicacion</button>
                                    <button class="btn btnCancelaQuitarPublicacion">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-lg-8 pink">
            <div id="tabCompartir">
                <ul class="ulTabGeneral">
                    <li>
                        <a href="#tabUsuario">Usuarios</a>
                    </li>
                    <li>
                        <a href="#Publico">Publico</a>
                    </li>
                </ul>
                <div id="tabUsuario" class="tab">
                    Compartir con un usuario
                </div>
                <div id="Publico">
                    Compartir acceso publico
                </div>
            </div>
        </div>
    </div>
</div>