@using IUSLibs.ADMINFE.Entidades.Noticias
@section estilosPersonalizados{
    <!-- Tags -->
        <link rel="stylesheet" href="~/Content/third-party/tags/bootstrap-tagsinput.css" />
    <!-- propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Noticias/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/Administracion/Noticias/media.css" />
}
@section scriptsPersonalizados{
    <!-- plugins -->
        <!-- rich text -->    
            <script src="~/Content/third-party/richtext/nicEdit.js"></script>
        <!-- Tags -->
            <script src="~/Content/third-party/tags/bootstrap-tagsinput.js"></script>
    <!-- propios -->
        <script src="~/Scripts/Views/Administracion/Noticias/script.js"></script>
        <script src="~/Scripts/Views/Administracion/Noticias/functions.js"></script>
}
@{
    List<PostCategoria> categorias = (List<PostCategoria>)ViewBag.categorias;
    Post post = (Post)ViewBag.post;
}

<h2>@ViewBag.titlePage</h2>
<div id="div_carga">
    <div id="contenerdorCargadorAjax">
        <div id="cargadorAjaxUniversal">
            <div class="row">
                <img src="~/Content/themes/iusback_theme/img/general/ajax-loader.gif" />
            </div>
            <div class="row" id="textoEsperaAjax">
                Por favor espere mientras procesamos su entrada
            </div>
        </div>
    </div>
</div>
<div class="row col-lg-12 wysihtml5-supported">
    <form class="frmNoticia">
        <div class="row col-lg-offset-1 col-lg-10 seccionForm">
            <label>Titulo</label>
            <input type="text" name="txtTitulo" class="form-control" value="@post._titulo" />
        </div>
        <div class="row col-lg-offset-1 col-lg-10 seccionForm" style="padding:0">
            <div class="col-lg-9">
                <label>Contenido</label>
                <div class="divTamanioPersonalizado hidden">
                    Tamaño personalizado(%)
                    <input class="txtTamañoImagen soloNumerosDecimal" value="100" disabled/>
                    <input type="checkbox" name="ckTamanio" class="ckTamanio" /> 
                </div>
                <textarea class="form-control" id="editor">@post._contenido</textarea>
            </div>
            <div class="col-lg-3 sectionTodoImagesPost ">
                <div class="row col-lg-12">
                    <div class="text-center">
                        <label>Imagenes post</label>
                    </div>
                    <input type="file" name="flSubirImagenes[]" multiple class="flSubirImagenes form-control" />
                </div>
                <div class="row col-lg-12 noEspacio divImagesPost">

                </div>
            </div>
        </div>
        <div class="row col-lg-offset-1 col-lg-10 seccionForm">
            <div class="col-lg-6">
                <label>Categoria</label>
                <select class="form-control" name="cbCategorias">
                    @if (categorias != null)
                    {
                        foreach (PostCategoria categoria in categorias)
                        {
                            <option value="@categoria._idPostCategoria">@categoria._categoria</option>
                        }
                    }
                    else
                    {
                        <option value="-1">No hay categorias en el sistema</option>
                    }
                </select>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <label>Etiquetas</label>
                </div>
                <input type="text" name="txtEtiquetas" data-role="tagsinput"  class="txtEtiquetas"  value="@ViewBag.tags"/>
            </div>
        </div>
        <div class="row col-lg-offset-1 col-lg-10 seccionForm">
            <button class="btn btn-primary">@ViewBag.botonAccion</button>
        </div>
    </form>
</div>


