@using IUSLibs.RRHH.Entidades.Laboral
@using IUSLibs.RRHH.Entidades.Formacion
@using IUSLibs.RRHH.Entidades
@using IUSLibs.SEC.Entidades
@{
    Dictionary<object, object>  detalle     = (Dictionary<object, object>)ViewBag.detalle;
    Dictionary<object, object>  medios      = (Dictionary<object, object>)ViewBag.medios;
    // info
        Persona                     persona     = (Persona)detalle["persona"];
        List<FormacionPersona>      formaciones = (List<FormacionPersona>)detalle["formaciones"];
        List<LaboralPersona>        laborales   = (List<LaboralPersona>)detalle["laborales"];
        InformacionPersona          infoPersona = (InformacionPersona)detalle["infoPersona"];
    // medios 
        List<EmailPersona>          emails      = (List<EmailPersona>)medios["emails"];
        List<TelefonoPersona>       telefonos   = (List<TelefonoPersona>)medios["telefonos"];
    // strings 
        string pais     = "No esta definido";
        string fotoRuta = Url.Content("~/Content/themes/iusback_theme/img/general/profle.png");
        if (infoPersona._pais != null)
        {
             pais = infoPersona._pais._pais;
        }
        else
        {
            infoPersona.instanciaPais();
            infoPersona._pais._idPais = 0;
        }
        if(infoPersona._tieneFoto){
            fotoRuta = Url.Content(infoPersona._fotoRuta);
        }
        
}
@section estilosPersonalizados{
    <!-- plugins -->

    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/Detalle/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/Detalle/media.css" />
}
@section scriptsPersonalizados{
    <!-- plugins -->
    
    <!-- propios -->
        <script src="~/Scripts/Views/GestionPersonas/Detalle/script.js"></script>
        <script src="~/Scripts/Views/GestionPersonas/Detalle/functions.js"></script>
}
@section arbol{
    <a class="col-lg-3 text-center cuadritoArbol" href="@ViewBag.urlFrom">
        @*<a href="@Url.Action("Index")">*@
        <div class="col-lg-8">
            @ViewBag.textoFrom
        </div>
        <div class="col-lg-4 divChevron">
            <i class="fa fa-chevron-right navChevron"></i>
        </div>
        @*</a>*@
    </a>
    <a class="col-lg-3 text-center cuadritoArbol" href="@ViewBag.currentUrl">
        @*<a href="@ViewBag.currentUrl">*@
        <div class="col-lg-8">
            Info adicional
        </div>
        <div class="col-lg-4 divChevron">
            <i class="fa fa-chevron-right navChevron"></i>
        </div>
        @*</a>*@
    </a>
}
<h2 class="text-center">@persona.nombreCompleto</h2>
<div class="row marginNull">
    <div class="row marginNull imgPic">
        <img src="@fotoRuta"/>
    </div>
    <div class="row marginNull divInfo">
        <div class="col-lg-offset-3 col-lg-2 tarjetaInfo t1">
            <h3>Sexo</h3>
            <img class="img sex" src="@Url.Content("~/Content/themes/iusback_theme/img/general/sexos/"+persona._sexo._idSexo+".png")" />
            <h4>@persona._sexo._sexo</h4>
        </div>
        <div class="col-lg-2 tarjetaInfo t2" >
            <h3>Pais de origen</h3>
            <img class="img" src="@Url.Content("~/Content/themes/iusback_theme/img/general/paises/"+infoPersona._pais._idPais+".png")" />
            <h4>@pais</h4>
        </div>
        <div class="col-lg-2 tarjetaInfo t1">
            <h3>Nacio</h3>
            <img class="img sex" src="@Url.Content("~/Content/themes/iusback_theme/img/views/Persona/pastel.png")" />
            <h4>@persona.getFechaNac</h4>
        </div>
    </div>
    <div class="row marginNull divInfoI">
        <h2 class="tituloSecciones">Informacion de contacto <small><a href="@Url.Action("Extras", "GestionPersonas", new { id=@persona._idPersona})">Editar</a></small> </h2>
        <div class="col-lg-6">
            <h3 class="text-center">Correos</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Etiqueta</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (emails != null && emails.Count > 0)
                    {
                        foreach (EmailPersona email in emails)
                        {
                            <tr>
                                <td>@email._email</td>
                                <td>@email._descripcion</td>
                                <td>
                                    <a href="mailto:@email._email" title="Escribir">
                                        <img class="minIco" src="@Url.Content("~/Content/themes/iusback_theme/img/general/circle/mail.png")" />
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">No hay correos asignados</td>
                        </tr>
                    }
                    @*<tr>
                        <td>byronpenna@gmail.com</td>
                        <td>Personal</td>
                        <td>
                            <a href="#" title="Escribir">
                                <img class="minIco" src="@Url.Content("~/Content/themes/iusback_theme/img/general/circle/mail.png")" />
                            </a>
                            
                        </td>
                    </tr>*@
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h3 class="text-center">Numeros telefonicos</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Telefono</th>
                        <th>Etiqueta</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (telefonos != null)
                    {
                        foreach (TelefonoPersona telefono in telefonos)
                        {
                            <tr>
                                <td>@telefono._telefono</td>
                                <td>@telefono._descripcion</td>
                                <td>
                                    <a href="tel:@telefono._telefono" title="Llamar">
                                        <img class="minIco" src="@Url.Content("~/Content/themes/iusback_theme/img/general/circle/tablet.png")" />
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">
                                No hay telefonos asignados
                            </td>
                        </tr>
                    }
                    @*<tr>
                        <td>7871-9006</td>
                        <td>Personal</td>
                        <td>
                            <a href="#" title="Llamar">
                                <img class="minIco" src="@Url.Content("~/Content/themes/iusback_theme/img/general/circle/tablet.png")" />
                            </a>
                        </td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
    <div class="row marginNull divInfoI">
        <h2 class="tituloSecciones">Formación</h2>
        <div class="col-lg-6">
            <h3 class="text-center">Profesional <small><a href="@Url.Action("Index", "FormacionPersonas", new { id=persona._idPersona })">Editar</a></small></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Carrera</th>
                        <th>Institución</th>
                        <th>País</th>
                    </tr>
                </thead>
                <tbody>
                    @if (formaciones != null && formaciones.Count > 0)
                    {
                        foreach (FormacionPersona formacion in formaciones)
                        {
                            <tr>
                                <td>@formacion._carrera</td>
                                <td>@formacion._institucion</td>
                                <td>@formacion._paisInstitucion._pais</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">No hay formación profesional asignada</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h3 class="text-center">Academica <small><a href="@Url.Action("Index", "GestionLaboral", new {id=persona._idPersona })">Editar</a></small></h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Cargo</th>
                        <th>Tiempo</th>
                    </tr>
                </thead>
                <tbody>
                    @if (laborales != null && laborales.Count > 0)
                    {
                        foreach (LaboralPersona laboral in laborales)
                        {
                            <tr>
                                <td>@laboral._empresa._nombre</td>
                                <td>@laboral._cargo._cargo</td>
                                <td>Realizar suma</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="3">
                                No hay información laboral
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
