@using IUSLibs.RRHH.Entidades
@using IUSLibs.FrontUI.Entidades
@using IUSLibs.SEC.Entidades
@section estilosPersonalizados{
    <!-- plugins -->        
        <!-- chosen -->
            <link rel="stylesheet" href="~/Content/third-party/chosen/css/chosen.min.css" />
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/Extras/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/Extras/media.css" />
}
@section scriptsPersonalizados{
    <!-- plugins -->
        <!-- chosen -->
            <script src="~/Content/third-party/chosen/js/chosen.jquery.min.js"></script>
        <!-- propios -->
            <script src="~/Scripts/Views/GestionPersonas/Extras/script.js"></script>
            <script src="~/Scripts/Views/GestionPersonas/Extras/functions.js"></script>
}
@{
    List<TelefonoPersona> telefonosPersonas = null; List<EmailPersona> emailsPersonas = null;
    InformacionPersona informacionPersona = null; List<EstadoCivil> estadosCiviles = null; List<Pais> paises = null;
    Persona persona = null;
    string selected = ""; string numeroIdentificacion = "";
    try
    {
        telefonosPersonas   = (List<TelefonoPersona>)   ViewBag.telefonos;
        emailsPersonas      = (List<EmailPersona>)      ViewBag.emails;
        informacionPersona  = (InformacionPersona)      ViewBag.informacionPersona;
        estadosCiviles      = (List<EstadoCivil>)       ViewBag.estadosCiviles;
        paises              = (List<Pais>)              ViewBag.paises;
        persona             = (Persona)                 ViewBag.persona;
        if (informacionPersona != null)
        {
            numeroIdentificacion = informacionPersona._numeroIdentificacion;
        }
    }
    catch (Exception)
    {
        
    }
}
@section tabs{
    <ul>
        <li class="btnTab tabActive" target="#tab-1">
            Informacion
        </li>
        <a href="@Url.Action("Index","RepositorioCompartido")">
            <li>
                Formacion
            </li>
        </a>
        <a href="@Url.Action("Index","RepositorioPublico")">
            <li>
                Laboral
            </li>
        </a>
    </ul>
}
<div class="row marginNull " id="tab1">
    <input  class="txtHdIdPersona" type="hidden" name="txtHdIdPersona" value="@ViewBag.idPersona"/>
    <div class="row marginNull divInformacionPersonal divInformacion">
        <h2>@persona.nombreCompleto</h2>
        <div class="col-lg-6 divImagePersona">
            <img class="imgPersona" src="@Url.Content("~/Content/themes/iusback_theme/img/general/profle.png")"/>
            <form action="/" method="post" class="frmImagenPersona">
                <div class="row marginNull">
                    <div class="fileUpload btn">
                        <span>Seleccionar imagen</span>
                        <input type="file" class="upload flFotoPersona" id="flMiniatura" accept="image/*" required />
                    </div>
                </div>
                <button class="btn">Establecer</button>
            </form>
        </div>
        <div class="col-lg-6 divFrmInformacionExtra">
            <div class="divControl row marginNull">
                <label>Seleccione pais</label>
                <select class="cbPais form-control" name="cbPais">
                    <option value="-1">Seleccione pais</option>
                    @if (paises != null && paises.Count > 0)
                    {
                        selected = "";
                        foreach (Pais pais in paises)
                        {
                            if (informacionPersona != null && pais._idPais == informacionPersona._pais._idPais)
                            {
                                selected = "selected";
                            }
                            else
                            {
                                selected = "";
                            }
                            <option value="@pais._idPais" @selected>@pais._pais</option>
                        }
                    }
                </select>
            </div>
            <div class="divControl row marginNull">
                <label>Numero de identificacion</label>
                <input class="txtNumeroIdentificacion form-control" name="txtNumeroIdentificacion" placeholder="0000" value="@numeroIdentificacion" />
            </div>
            <div class="divControl row marginNull">
                <label>Seleccione estado civil</label>
                <select class="cbEstadoCivil form-control" name="cbEstadoCivil">
                    <option value="-1">Seleccione estado civil</option>
                    @if (estadosCiviles != null && paises.Count > 0)
                    {
                        selected = "";
                        foreach (EstadoCivil estadoCivil in estadosCiviles)
                        {
                            if (informacionPersona != null && estadoCivil._idEstadoCivil == informacionPersona._estadoCivil._idEstadoCivil)
                            {
                                selected = "selected";
                            }
                            else
                            {
                                selected = "";
                            }
                            <option value="@estadoCivil._idEstadoCivil" @selected>@estadoCivil._estadoCivil</option>
                        }
                    }
                </select>
            </div>
            
            <button class="btn btnGuardarInformacionBasica">
                Guardar
            </button>
            <div class="row marginNull divResultado divResultadoOperacion">

            </div>
        </div>
    </div>
    <div class="marginNull row divInformacionContacto divInformacion">
        <h2>Informacion de contacto</h2>
        <div class="row marginNull">
            <div class="col-lg-5">
                <h3>Correos electronicos</h3>
                <table class="table tabla">
                    <thead>
                        <tr>
                            <th class="hidden"></th>
                            <th>Email</th>
                            <th>Etiqueta</th>
                            <th>Acciones</th>
                        </tr>
                        <tr>
                            <th class="hidden"></th>
                            <th><input name="txtEmail" class=" form-control txtEmail" type="email" /></th>
                            <th><input class="txtEtiquetaEmail form-control" name="txtEtiquetaEmail" /></th>
                            <th><button class="btn btnGuardarEmail btn-xs">Guardar</button></th>
                        </tr>
                    </thead>
                    <tbody class="tbodyEmail">
                        @if (emailsPersonas != null && emailsPersonas.Count > 0)
                        {
                            foreach (EmailPersona emailPersona in emailsPersonas)
                            {
                                <tr>
                                    <td class="hidden">
                                        <input type="hidden" value="@emailPersona._idEmail" name="txtIdEmailPersona"/>
                                    </td>
                                    <td>
                                        <div class="editMode hidden">
                                            <input name="txtEmail" class=" form-control txtEmail" type="email" />
                                        </div>
                                        <div class="normalMode tdEmail">
                                            @emailPersona._email
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editMode hidden">
                                            <input class="txtEtiquetaEmail form-control" name="txtEtiquetaEmail" />
                                        </div>
                                        <div class="normalMode tdEtiqueta">
                                            @emailPersona._descripcion
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editMode hidden">
                                            <button class="btn btn-xs btnActualizarEmail">Actualizar</button>
                                            <button class="btn btn-xs btnCancelarUpdateEmail">Cancelar</button>
                                        </div>
                                        <div class="normalMode tdTelefono">
                                            <button class="btn btnEditarEmail btn-xs">Editar</button>
                                            <button class="btn btnEliminarEmail btn-xs">Eliminar</button>
                                        </div>
                                        
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center">Persona no tiene registrado ningun correo electronico</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-7">
                <h3>Numeros telefonicos</h3>
                <table class="table tabla">
                    <thead>
                        <tr>
                            <th class="hidden"></th>
                            <th>Telefono</th>
                            <th>Pais</th>
                            <th>Etiqueta</th>
                            <th>Acciones</th>
                        </tr>
                        <tr>
                            <th class="hidden"></th>
                            <th><input class="txtTelefono form-control" name="txtTelefono" /></th>
                            <th>
                                <select class="cbPais" name="cbPais">
                                    @if (paises != null && paises.Count > 0)
                                    {
                                        foreach (Pais pais in paises)
                                        {
                                            <option value="@pais._idPais" @selected>@pais._pais</option>    
                                        }
                                    }
                                </select>
                            </th>
                            <th><input class="txtEtiquetaTel form-control" name="txtEtiquetaTel" /></th>
                            <th>
                                <button class="btn btnAgregarTel">Agregar</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbodyTelefonos">
                        @if (telefonosPersonas != null && telefonosPersonas.Count > 0)
                        {
                            foreach (TelefonoPersona telefono in telefonosPersonas)
                            {
                                <tr>
                                    <td class="hidden">
                                        <input name="txtHdIdTelefono" class="txtHdIdTelefono"  value="@telefono._idTelefonoPersona"/>
                                        <input name="txtHdIdPais" class="txtHdIdPais" value="@telefono._pais._idPais" />
                                    </td>
                                    <td>
                                        <div class="editMode hidden">
                                            <input class="txtTelefono form-control" name="txtTelefono" />
                                            <div class="row marginNull divResultado hidden">

                                            </div>
                                        </div>
                                        <div class="normalMode tdTelefono">
                                            @telefono._telefono
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editMode hidden">
                                            <select class="cbPais" name="cbPais"></select>
                                        </div>
                                        <div class="normalMode tdPais">
                                            @telefono._pais._pais
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editMode hidden">
                                            <input class="txtEtiquetaTel form-control" name="txtEtiquetaTel" />
                                        </div>
                                        <div class="normalMode tdEtiqueta">
                                            @telefono._descripcion
                                        </div>
                                    </td>
                                    <td>
                                        <div class="editMode hidden">
                                            <button class="btn btn-xs btnActualizarTel">Actualizar</button>
                                            <button class="btn btn-xs btnCancelarUpdateTel">Cancelar</button>
                                        </div>
                                        <div class="normalMode">
                                            <button class="btn btn-xs btnEditarTel">Editar</button>
                                            <button class="btn btnEliminarTel btn-xs">Eliminar</button>
                                        </div>
                                        
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center">Persona no tiene registrado ningun numero telefonico</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>