@using IUSLibs.RRHH.Entidades.Formacion
@using IUSLibs.SEC.Entidades
@using IUSLibs.FrontUI.Entidades
@section estilosPersonalizados{
    <!-- plugins -->
        <!-- chosen -->
            <link rel="stylesheet" href="~/Content/third-party/chosen/css/chosen.min.css" />
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/FormacionPersonas/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/FormacionPersonas/media.css" />
}
@section scriptsPersonalizados{
    <!-- Plugins -->
        <!-- chosen -->
            <script src="~/Content/third-party/chosen/js/chosen.jquery.min.js"></script>
    <!-- propios -->
        <script src="~/Scripts/Views/GestionPersonas/FormacionPersonas/script.js"></script>
        <script src="~/Scripts/Views/GestionPersonas/FormacionPersonas/functions.js"></script>
}
@{
    List<EstadoCarrera> estadosCarrera=null;Persona persona= null;
    List<Pais> paises = null; List<InstitucionEducativa> institucionesEducativas = null;
    List<NivelTitulo> nivelesTitulo = null; List<Carrera> carreras = null;
    List<FormacionPersona> formacionesPersonas= null;
    try{
        Dictionary<object, object> info = (Dictionary<object,object>)ViewBag.infoIni;
        estadosCarrera                  = (List<EstadoCarrera>)info["estadosCarrera"];
        persona                         = (Persona)info["persona"];
        paises                          = (List<Pais>)info["paises"];
        institucionesEducativas         = (List<InstitucionEducativa>)info["instituciones"];
        nivelesTitulo                   = (List<NivelTitulo>)info["nivelesTitulo"];
        carreras                        = (List<Carrera>)info["carreras"];
        formacionesPersonas             = (List<FormacionPersona>)info["formacionesPersonas"];
    }catch(Exception){
        
    }
}
@section tabs{
    <ul>
        <a href="@Url.Action("Extras", "GestionPersonas",new {id=43})">
            <li>
                Informacion
            </li>
        </a>
        <li class="btnTab tabActive">
            Formacion
        </li>
        <a href="@Url.Action("Index","RepositorioPublico")">
            <li>
                Laboral
            </li>
        </a>
    </ul>
    
}
<input type="hidden" class="txtHdIdPersona" value="@persona._idPersona" />
<div class="row marginNull divControles">
    <h2 class="titlePersona">@persona.nombreCompleto</h2>
    <div class="col-lg-offset-5 col-lg-2 text-center">
        <label>Vistas</label>
        <div class="herramientaVistaSection accionesDiv form-control inputBackModal">
            <a href="#" id="divInformacionCarreras" class="icoVista activeVista" title="titulos persona">
                <i class="fa fa-user"></i>
            </a>
            <a href="#" id="divCarreras" class="icoVista" title="Carreras">
                <i class="fa fa-graduation-cap"></i>
            </a>
            <a href="#" id="divInstituciones" class="icoVista" title="Instituciones educativas">
                <i class="fa fa-university"></i>
            </a>
        </div>
    </div>
</div>
<div class="row marginNull divTab divInformacionCarreras">
    <h3 class="tituloTabDiv">Titulos</h3>
    <table class="table tbCarreras">
        <thead>
            <tr>
                <td>Carrera</td>
                <td>Año Inicio</td>
                <td>Año Fin</td>
                <td>Observaciones</td>
                <td>Estado</td>
                <td>Acciones</td>
            </tr>
            <tr>
                <td>
                    <select name="cbCarrera" class="cbCarrera form-control">
                        @if (carreras != null && carreras.Count > 0)
                        {
                            foreach (Carrera carrera in carreras)
                            {
                                <option value="@carrera._idCarrera">@carrera._carrera</option>
                            }
                        }
                    </select>
                </td>
                <td class="tdFechaIniFinTitulo">
                    <input name="txtYearInicio" class="txtYearInicio form-control" />
                </td>
                <td class="tdFechaIniFinTitulo">
                    <input name="txtYearFin" class="txtYearFin form-control" />
                </td>
                <td>
                    <textarea name="txtAreaObservaciones" class="txtAreaObservaciones form-control"></textarea>
                </td>
                <td>
                    <select name="cbEstadoCarrera" class="cbEstadoCarrera form-control">
                        @if (estadosCarrera != null && estadosCarrera.Count > 0)
                        {
                            foreach (EstadoCarrera estadoCarrera in estadosCarrera)
                            {
                                <option value="@estadoCarrera._idEstadoCarrera">@estadoCarrera._estado</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <button class="btn btnAgregarCarrera">Agregar</button>
                </td>
            </tr>
        </thead>
        <tbody>
            @if (formacionesPersonas != null && formacionesPersonas.Count > 0)
            {
                foreach (FormacionPersona formacionPersona in formacionesPersonas)
                {
                    <tr>
                        <td class="hidden">
                            <input name="txtHdIdFormacionPersona" class="txtHdIdFormacionPersona" value="@formacionPersona._idFormacionPersona"/>
                        </td>
                        <td>@formacionPersona._carrera._carrera</td>
                        <td>@formacionPersona._yearInicio</td>
                        <td>@formacionPersona._yearInicio</td>
                        <td>@formacionPersona._observaciones</td>
                        <td>@formacionPersona._estado._estado</td>
                        <td>
                            <button class="btn">Editar</button>
                            <button class="btn btnEliminarTitulo ">Eliminar</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row marginNull divTab divInstituciones hidden">
    <!-- Instituciones educativas -->
    <h3 class="tituloTabDiv">Instituciones educativas</h3>
    <table class="table">
       <thead>
           <tr>
               <th>Institucion educativa</th>
               <th>País</th>
               <th>Acciones</th>
           </tr>
           <tr>
               <th>
                   <input name="txtInstitucionEducativa" class="form-control txtInstitucionEducativa" />
               </th>
               <th>
                   <select name="cbPaisInstitucionEducativa" class=" cbChosenPais form-control cbPaisInstitucionEducativa">
                       @if (paises != null && paises.Count > 0)
                       {
                           foreach (Pais pais in paises)
                           {
                               <option value="@pais._idPais">@pais._pais</option>
                           }
                       }
                   </select>
               </th>
               <th>
                   <button class="btn btnAgregarInstitucion">Agregar institucion</button>
               </th>
           </tr>
       </thead>
       <tbody>
           @if (institucionesEducativas != null && institucionesEducativas.Count > 0)
           {
               foreach (InstitucionEducativa institucion in institucionesEducativas)
               {
                   <tr>
                       <td class="hidden">
                           <input name="txtHdIdInstitucionEducativa" class="txtHdIdInstitucionEducativa" value="@institucion._idInstitucion" />
                           <input name="txtHdIdPaisInstitucion" class="txtHdIdPaisInstitucion" value="@institucion._pais._idPais"/>
                       </td>
                       <td>
                           <div class="editMode hidden">
                               <input class="txtInstitucionEducativa form-control" name="txtInstitucionEducativa" />
                           </div>
                           <div class="normalMode tdNombreInstitucion">
                               @institucion._nombre
                           </div>
                       </td>
                       <td>
                           <div class="editMode hidden">
                               <select name="cbPaisInstitucionEducativa" class=" cbChosenPais form-control cbPaisInstitucionEducativa"></select>
                           </div>
                           <div class="normalMode tdPais">
                               @institucion._pais._pais
                           </div> 
                       </td>
                       <td>
                           <div class="editMode hidden">
                                <button class="btn btnActualizarInstitucionEducativa">Actualizar</button>
                                <button class="btn btnCancelarInstitucionEducativa btnCancelarUni">Cancelar</button>
                           </div>
                           <div class="normalMode tdEmail">
                               <button class="btn btnEditarInstitucion">Editar</button>
                               <button class="btn btnEliminarInstitucion">Eliminar</button>
                           </div>
                       </td>
                   </tr>
               }
           }
       </tbody>
   </table>
</div>
<div class="row marginNull divTab divCarreras hidden">
    <!-- carreras -->
    <h3 class="tituloTabDiv">Carreras</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre carrera</th>
                <th>Nivel carrera</th>
                <th>Institucion</th>
                <th>Acciones</th>
            </tr>
            <tr>
                <th>
                    <input name="txtNombreCarrera" class="txtNombreCarrera form-control" />
                </th>
                <th>
                    <select name="cbNivelCarrera" class="cbNivelCarrera form-control">
                        @if (nivelesTitulo != null && nivelesTitulo.Count > 0)
                        {
                            foreach (NivelTitulo nivelTitulo in nivelesTitulo)
                            {
                                <option value="@nivelTitulo._idNivel">@nivelTitulo._nombreNivel</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <select class="cbInsticionesParaCarrera form-control" name="cbInsticionesParaCarrera">
                        @if (institucionesEducativas != null && institucionesEducativas.Count > 0)
                        {
                            string pais = ""; bool abierto = false;
                            foreach (InstitucionEducativa institucion in institucionesEducativas)
                            {
                                if (pais != institucion._pais._pais)
                                {
                                    pais = institucion._pais._pais;
                                    if (abierto == true)
                                    {
                                        new HtmlString("</optgroup>");
                                        abierto = false;
                                    }
                                    @(new HtmlString("<optgroup label='" + pais + "'>"));
                                    abierto = true;
                                }
                                <option value="@institucion._idInstitucion">@institucion._nombre</option>
                            }
                            if (abierto == true)
                            {
                                @(new HtmlString("</optgroup>"));
                            }
                        }
                    </select>
                </th>
                <th>
                    <button class="btn btnAgregarCarreraIndividual">Agregar</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- mostrar aqui carrera -->
            @if (carreras != null && carreras.Count > 0)
            {
                foreach (Carrera carrera in carreras)
                {
                    <tr>
                        <td class="hidden">
                            <input class="txtHdIdCarrera" name="txtHdIdCarrera" value="@carrera._idCarrera"/>
                        </td>
                        <td>@carrera._carrera</td>
                        <td>@carrera._nivelTitulo._nombreNivel</td>
                        <td>@carrera._institucion._nombre</td>
                        <td>
                            <button class="btnEditarCarrera btn">Editar</button>
                            <button class="btn btnEliminarCarrera">Eliminar</button>
                            <!--<button class="btn">Cancelar</button>-->
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
