@using IUSLibs.RRHH.Entidades
@using IUSLibs.RRHH.Entidades.Laboral
@using IUSLibs.SEC.Entidades
@section estilosPersonalizados{
    <!-- plugins -->
        <!--Data table-->
            <link rel="stylesheet" href="~/Content/third-party/datatable/css/jquery.dataTables.min.css" />
        <!-- chosen -->
            <link rel="stylesheet" href="~/Content/third-party/chosen/css/chosen.min.css" />
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/laboral/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/laboral/media.css" />
}
@section scriptsPersonalizados{
    <!-- plugins -->
        <!-- Data table -->
            <script src="~/Content/third-party/datatable/js/jquery.dataTables.js"></script>    
        <!-- chosen -->
            <script src="~/Content/third-party/chosen/js/chosen.jquery.min.js"></script>
    <!-- propios -->
        <script src="~/Scripts/Views/GestionPersonas/Laboral/script.js"></script>
        <script src="~/Scripts/Views/GestionPersonas/Laboral/functions.js"></script>
}
@section arbol{
    <div class="col-lg-3 text-center cuadritoArbol">
        <a href="@Url.Action("Index", "GestionPersonas")">
            <div class="col-lg-8">
                Personas
            </div>
            <div class="col-lg-4 divChevron">
                <i class="fa fa-chevron-right navChevron"></i>
            </div>
        </a>
    </div>
    <div class="col-lg-3 text-center cuadritoArbol">
        <a href="@ViewBag.currentUrl">
            <div class="col-lg-8">
                Laboral
            </div>
            <div class="col-lg-4 divChevron">
                <i class="fa fa-chevron-right navChevron"></i>
            </div>
        </a>
    </div>
}

@{
    List<Empresa>           empresas            = null; List<CargoEmpresa>  cargos      = null;
    List<LaboralPersona>    laboralesPersonas   = null; Persona             persona     = null;
    List<Persona>           personas            = null; InformacionPersona   infoPersona = null;
    string strFoto = Url.Content(@ViewBag.IMG_GENERALES + "profle.png");
    Permiso                 permisos            = (Permiso)ViewBag.permiso;
    try{
        Dictionary<object,object> 
            iniciales           = (Dictionary<object,object>)ViewBag.iniciales;
            persona             = (Persona)iniciales["persona"];
            empresas            = (List<Empresa>)iniciales["empresas"];
            cargos              = (List<CargoEmpresa>)iniciales["cargos"];
            laboralesPersonas   = (List<LaboralPersona>)iniciales["laboralesPersonas"];
            personas            = (List<Persona>)iniciales["personas"];
            infoPersona         = (InformacionPersona)iniciales["infoPersona"];
            if (infoPersona != null && infoPersona._tieneFoto)
            {
                strFoto = Url.Content(infoPersona._fotoRuta);
            }
            
    }catch(Exception){
        
    }
}
@section tabs{
    <ul>
        <a href="@Url.Action("Extras", "GestionPersonas", new { id = ViewBag.idPersona })">
            <li>
                Informacion
            </li>
        </a>
        <a href="@Url.Action("Index", "FormacionPersonas", new {id=ViewBag.idPersona })">
            <li>
                Formacion
            </li>
        </a>
        <li class="btnTab tabActive">
            Laboral
        </li>
    </ul>

}
<div class="row marginNull rowDataPersona">
    <div class="row marginNull divTituloNombre">
        <div class="normalMode">
            <h2 class="titlePersona">@persona.nombreCompleto </h2>
        </div>
        <div class='editMode hidden'>
            <div class="col-lg-offset-4 col-lg-3 ">
                <select class="cbPersonas form-control">
                    @if (personas != null && personas.Count > 0)
                    {
                        string selected = "";
                        foreach (Persona personaI in personas)
                        {
                            if (personaI._idPersona == persona._idPersona)
                            {
                                selected = "selected";
                            }
                            else
                            {
                                selected = "";
                            }
                            <option value="@personaI._idPersona" @selected>@personaI._nombres</option>
                        }

                    }
                </select>
            </div>
            <div class="col-lg-1">
                <i class="fa fa-times icoVolverAnombre"></i>
            </div>
        </div>
    </div>
    <img class="imgPersona" src="@strFoto" />
</div>
<div class="row marginNull divUploadVitae">
    <h3>Curriculum PDF </h3>
    <form class="frmCurriculumn" action="@Url.Action("subirCurriculumn", "GestionLaboral")">
        <input type="hidden" name="txtHdIdPersona" value="@persona._idPersona" />
        <input type="file" name="flCurriculum" class="flCurriculum" />
        <button class="btn btn-default">Subir</button>
    </form>
</div>
<input type="hidden" class="txtHdIdPersona" value="@ViewBag.idPersona" />
<div class="marginNull row divMensajesGenerales">
    
</div>
<div class="row marginNull divTablita">
    <table class="table tablaLaboral">
        <thead>
            <tr>
                <th class="hidden"></th>
                <th>Empresa</th>
                <th class="txtDate">Inicio</th>
                <th class="txtDate">Fin</th>
                <th>Observaciones</th>
                <th>Cargo desempeñado</th>
                <th>Acciones</th>
            </tr>
            <tr>
                <th class="hidden"></th>
                <th>
                    <div class="row marginNull divControl">
                        <select class="form-control cbEmpresa input-sm" name="cbEmpresa">
                            @if (empresas != null && empresas.Count > 0)
                            {
                                foreach (Empresa empresa in empresas)
                                {
                                    <option value="@empresa._idEmpresa">@empresa._nombre</option>
                                }
                            }
                        </select>
                        <div class="row marginNull divResultado hidden">
                            _
                        </div>
                    </div>
                </th>
                <th>
                    <div class="row marginNull divControl">
                        <input type="number" class="form-control txtInicio soloNumerosInt input-sm" name="txtInicio" min="1970" max="2100" />
                        <div class="row marginNull divResultado hidden">
                            _
                        </div>
                    </div>
                </th>
                <th>
                    <div class="row marginNull divControl">
                        <input type="number" class="form-control txtFin soloNumerosInt input-sm" name="txtFin" min="1970" max="2100" />
                        <div class="row marginNull divResultado hidden">
                            _
                        </div>
                    </div>
                </th>
                <th>
                    <div class="divControl row marginNull">
                        <textarea class="form-control txtAreaObservacion input-sm" name="txtAreaObservacion"></textarea>
                        <div class="row marginNull divResultado hidden">

                        </div>
                    </div>
                </th>
                <th>
                    <div class="divControl row marginNull">
                        <select class="form-control cbCargo input-sm" name="cbCargo">
                            @if (cargos != null && cargos.Count > 0)
                            {
                                foreach (CargoEmpresa cargo in cargos)
                                {
                                    <option value="@cargo._idCargoEmpresa">@cargo._cargo</option>
                                }
                            }
                        </select>
                        <div class="row marginNull divResultado hidden">
                            _
                        </div>
                    </div>
                </th>
                <th class="tdBotones">
                    <button class="btn btnAgregarLaboralPersona btn-default btn-md">Agregar</button>
                </th>
            </tr>
        </thead>
        <tbody class="tbodyLaboralPersona">
            @if (laboralesPersonas != null && laboralesPersonas.Count > 0)
            {
                foreach (LaboralPersona laboralPersona in laboralesPersonas)
                {
                    <tr>
                        <td class="hidden">
                            <input type="hidden" value="@laboralPersona._idLaboralPersona" class="txtHdIdLaboralPersona" name="txtHdIdLaboralPersona" />
                            <input type="hidden" value="@laboralPersona._empresa._idEmpresa" class="txtHdIdEmpresa" name="txtHdIdEmpresa">
                            <input type="hidden" value="@laboralPersona._cargo._idCargoEmpresa" class="txtHdIdCargoEmpresa" name="txtHdIdCargoEmpresa">
                        </td>
                        <td>
                            <div class="editMode hidden">
                                <div class="divControl row marginNull">
                                    <select class="form-control cbEmpresa input-sm" name="cbEmpresa"></select>
                                    <div class="row marginNull divResultado hidden">
                                        _
                                    </div>
                                </div>
                            </div>
                            <div class="normalMode tdNombreEmpresa">
                                @laboralPersona._empresa._nombre
                            </div>
                        </td>
                        <td>
                            <div class="editMode hidden">
                                <div class="divControl row marginNull">
                                    <input type="number" class="form-control txtInicio input-sm soloNumerosInt" name="txtInicio"  min="1970" max="2100"/>
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </div>
                            </div>
                            <div class="normalMode tdFechaInicio">
                                @laboralPersona._inicio
                            </div>

                        </td>
                        <td>
                            <div class="editMode hidden">
                                <div class="divControl row marginNull">
                                    <input type="number" class="form-control txtFin input-sm" name="txtFin" min="1970" max="2100" />
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </div>
                                
                            </div>
                            <div class="normalMode tdFechaFin">
                                @laboralPersona._fin
                            </div>
                        </td>
                        <td>
                            <div class="editMode hidden">
                                <div class="divControl row marginNull">
                                    <textarea class="form-control txtAreaObservacion input-sm" name="txtAreaObservacion"></textarea>
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </div>
                                
                            </div>
                            <div class="normalMode tdObservaciones">
                                @laboralPersona._observaciones
                            </div>
                        </td>
                        <td>
                            <div class="editMode hidden">
                                <div class="divControl row marginNull">
                                    <select class="form-control cbCargo input-sm" name="cbCargo" ></select>
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </div>
                                
                            </div>
                            <div class="normalMode tdCargo">
                                @laboralPersona._cargo._cargo
                            </div>
                        </td>
                        <td class="tdBotones">
                            <div class="editMode hidden">
                                <div class="btn-group">
                                    <button class="btnActualizarLaboralPersona btn btn-default btn-xs">Actualizar</button>
                                    <button class="btnCancelarUni btn btn-default btn-xs">Cancelar</button>
                                </div>
                            </div>
                            <div class="normalMode tdBotones">
                                <div class="btn-group">
                                    <button class="btnEditarLaboralPersona btn btn-xs btn-default" @permisos.stringEditar>Editar</button>
                                    <button class="btnActividad btn btn-xs btn-default">Actividades realizadas</button>
                                    <button class="btnEliminarLaboralPersona btn btn-xs btn-default" @permisos.stringEliminar>Eliminar</button>
                                </div>

                            </div>
                        </td>
                    </tr>

                }

            }
            else
            {
                <tr class="trNoRegistro">
                    @for (int i = 0; i < 6; i++)
                    {
                        <td class="hidden"></td>
                    }
                    <td colspan="7" class="text-center ">
                        No hay registro laboral para esta persona
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
