@using IUSLibs.SEC.Entidades
@section estilosPersonalizados{
    <!-- plugins -->
        <!--Data table-->
            <link rel="stylesheet" href="~/Content/third-party/datatable/css/jquery.dataTables.min.css" />
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/media.css" />
}
@section scriptsPersonalizados{
    
    <!-- plugins -->
        <!-- Data table -->
            <script src="~/Content/third-party/datatable/js/jquery.dataTables.js"></script>
    <!-- propios -->
        <script src="~/Scripts/Views/GestionPersonas/script.js"></script>
        <script src="~/Scripts/Views/GestionPersonas/functions.js"></script>
}
@{
    List<Persona> personas = (List<Persona>)ViewBag.personas;
    Permiso permisos = (Permiso)ViewBag.permiso;
}
<div class="marginNull cuerpoModulo">
    <table class="table table-hover tablePersonas tablaUniversal">
        <thead>
            <tr class="controlGlobal hidden">
                <td colspan="3"></td>
                <td>
                    <button class="btn btn-xs btnActualizarTodo">Actualizar todo</button>
                    <button class="btn btn-xs btnCancelarGlobal">
                        Cancelar todo
                    </button>
                </td>
            </tr>
            <tr>
                <th class="hidden"></th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha de nacimiento</th>
                <th>Acciones</th>
            </tr>
            <tr>
                <th class="hidden"></th>
                <th>
                    <input type="text" name="txtNombrePersona" class="inputFormulario txtNombrePersona form-control soloLetras" />
                </th>
                <th>
                    <input type="text" name="txtApellidoPersona" class="inputFormulario txtApellidoPersona form-control soloLetras" />
                </th>
                <th>
                    <input type="text" name="dtFechaNacimiento" class="inputFormulario dtFechaNacimiento form-control" />
                </th>
                <th>
                    <button class="btn btn-xs btnAgregarPersona" @permisos.stringCrear>Crear</button>
                </th>
            </tr>

        </thead>
        <tbody>

            @if (personas != null)
        {
            foreach (Persona persona in personas)
            {
                <tr class="trPersona">
                    <td class="hidden">
                        <input type="hidden" name="txtHdIdPersona" class="txtHdIdPersona" value="@persona._idPersona">
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <input type="text" name="txtNombrePersona" class="txtNombrePersona form-control" />
                        </div>
                        <div class="normalMode tdNombre">@persona._nombres</div>
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <input type="text" name="txtApellidoPersona" class="txtApellidoPersona form-control" />
                        </div>
                        <div class="normalMode tdApellido">@persona._apellidos</div>

                    </td>
                    <td>
                        <div class="editMode hidden">
                            <input type="text" name="dtFechaNacimiento" class="dtFechaNacimiento form-control" />
                        </div>
                        <div class="normalMode tdFechaNac">@persona.getFechaNac</div>
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <button class="btn btn-xs btnEditMode btnActualizar " @permisos.stringEditar>Actualizar</button>
                            <button class="btn btn-xs btnEditMode btnCancelarEdit">Cancelar</button>
                        </div>
                        <div class="normalMode">
                            <button class="btn btn-xs btnEditar" @permisos.stringEditar>Editar</button>
                            <button class="btn btn-xs btnEliminar" @permisos.stringEliminar>Eliminar</button>
                        </div>
                    </td>
                </tr>
            }

        }
        else
        {
                <tr class="text-center">
                    <td colspan="4">No hay registros para mostrar</td>
                </tr>
        }
        </tbody>
    </table>
</div>

