@using IUSLibs.SEC.Entidades
@section estilosPersonalizados{
    <!-- plugins -->
        <!--Data table-->
            <link rel="stylesheet" href="~/Content/third-party/datatable/css/jquery.dataTables.min.css" />
    <!-- Propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionPersonas/media.css" />
}
@section scriptsPersonalizados{
    
    <!-- plugins -->
        <!-- Data table -->
            <script src="~/Content/third-party/datatable/js/jquery.dataTables.js"></script>
    <!-- propios -->
        <script src="~/Scripts/Views/GestionPersonas/script.js"></script>
        <script src="~/Scripts/Views/GestionPersonas/functions.js"></script>
}

@{
    List<Persona> personas = (List<Persona>)ViewBag.personas;
    Permiso permisos = (Permiso)ViewBag.permiso;
}
<div class="marginNull cuerpoModulo">
    <div class="row marginNull divResultadoGeneral">
        <div class="divResultado">

        </div>
    </div>
    <table class="table table-hover tablePersonas tablaUniversal">
        <thead>
            <!--
            <tr class="controlGlobal hidden">
                <td colspan="3"></td>
                <td>
                    <button class="btn btn-xs btnActualizarTodo">Actualizar todo</button>
                    <button class="btn btn-xs btnCancelarGlobal">
                        Cancelar todo
                    </button>
                </td>
            </tr>
                -->
            <tr>
                <th class="hidden"></th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha de nacimiento</th>
                <th>Sexo</th>
                <th>Acciones</th>
            </tr>
            <tr>
                <th class="hidden"></th>
                <th>
                    <input type="text" name="txtNombrePersona" tabindex="1" class="inputFormulario txtNombrePersona form-control soloLetras" />
                    <div class="row marginNull divResultado hidden">
                        
                    </div>
                </th>
                <th>
                    <input type="text" name="txtApellidoPersona" tabindex="2" class="inputFormulario txtApellidoPersona form-control soloLetras" />
                    <div class="row marginNull divResultado hidden">
                        
                    </div>
                </th>
                <th>
                    <input type="text" name="dtFechaNacimiento" tabindex="3" class="inputFormulario dtFechaNacimiento form-control" />
                    <div class="row marginNull divResultado hidden">
                        
                    </div>
                </th>
                <th>
                    <select class="cbSexo form-control" name="cbSexo">
                        <option value="1">Masculino</option>
                        <option value="2">Femenino</option>
                    </select>
                    <div class="row marginNull divResultado hidden">

                    </div>
                </th>
                <th>
                    <button class="btn btn-xs btnAgregarPersona btn-default" @permisos.stringCrear>Crear</button>
                </th>
            </tr>

        </thead>
        <tbody>

            @if (personas != null)
        {
            foreach (Persona persona in personas)
            {
                <tr class="trPersona">
                    <td class="hidden">
                        <input type="hidden" name="txtHdIdPersona" class="txtHdIdPersona" value="@persona._idPersona">
                        <input class="txtHdIdSexo" value="@persona._sexo._idSexo"/>
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <input type="text" name="txtNombrePersona" class="input-sm form-control txtNombrePersona txtEdit soloLetras" />
                            <div class="row marginNull divResultado hidden">

                            </div>
                        </div>
                        <div class="normalMode tdNombre">@persona._nombres</div>
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <input type="text" name="txtApellidoPersona" class="input-sm form-control txtApellidoPersona txtEdit soloLetras" />
                            <div class="row marginNull divResultado hidden">

                            </div>
                        </div>
                        <div class="normalMode tdApellido">@persona._apellidos</div>

                    </td>
                    <td>
                        <div class="editMode hidden">
                            <input type="text" name="dtFechaNacimiento" class="input-sm dtFechaNacimiento form-control txtEdit" />
                            <div class="row marginNull divResultado hidden">

                            </div>
                        </div>
                        <div class="normalMode tdFechaNac">@persona.getFechaNac</div>
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <select class="input-sm form-control cbSexo" name="cbSexo">
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                            </select>
                            <div class="row marginNull divResultado hidden">

                            </div>
                        </div>
                        <div class="normalMode tdSexo">@persona._sexo._sexo</div>
                    </td>
                    <td>
                        <div class="editMode hidden">
                            <div class='btn-group'>
                                <button class="btn btn-xs btn-default btnEditMode btnActualizar " @permisos.stringEditar>Actualizar</button>
                                <button class="btn btn-xs btn-default btnEditMode btnCancelarEdit">Cancelar</button>
                            </div>
                        </div>
                        <div class="normalMode">
                            <div class="btn-group">
                                <button class="btn-default btn btn-xs btnEditar" @permisos.stringEditar>Editar</button>
                                <button class="btn-default btn btn-xs btnEliminar" @permisos.stringEliminar>Eliminar</button>
                            </div>
                            <a class="btn btn-xs " href="@Url.Action("Extras", "GestionPersonas", new { id=persona._idPersona})">
                                Info adicional
                            </a>
                        </div>
                    </td>
                </tr>
            }

        }
        else
        {
                <tr class="text-center">
                    <td colspan="4">No hay registros para mostrar</td>
                </tr>
        }
        </tbody>
    </table>
</div>

