@using IUSLibs.ADMINFE.Entidades;
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Eventos/stylei.css" />
    @*<link rel="stylesheet" href="~/Content/ius_theme/views/Eventos/media.css" />*@
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Eventos/script.js"></script>
    <script src="~/Scripts/views/Eventos/functions.js"></script>
}
@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
    
    List<Evento> eventosHoy = (List<Evento>)ViewBag.eventosHoy;
    List<Evento> eventosMes = (List<Evento>)ViewBag.eventosMes;
}
<div class="row marginNull rowCuerpo">
    <!--<h2 class="titlePage">Eventos</h2>-->
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="row marginNull seccionBusqueda">
            <h3 class="tituloSeccion">Busqueda</h3>
            <div class="rowControlesBusqueda row marginNull">
                <div class="divAtomBusqueda col-lg-12 col-md-12 col-sm-6 col-xs-6">
                    <div class="col-lg-12 ckSeccion">
                        <input type="checkbox" name="ckFechas" class="ckAble" />
                        <span>Por rango de fechas</span>
                    </div>
                    <div class="col-lg-12 inputsBusquedaSeccion">
                        <div class="col-lg-6 col-md-12 inputBusqueda">
                            <label>Inicio</label>
                            <input class="form-control" disabled />
                        </div>
                        <div class="col-lg-6 col-md-12 inputBusqueda">
                            <label>Fin</label>
                            <input class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <div class="divAtomBusqueda col-lg-12 col-md-12 col-sm-6 col-xs-6">
                    <div class="col-lg-12 ckSeccion">
                        <input type="checkbox" name="ckNombre" class="ckAble" />
                        <span>Por nombre</span>
                    </div>
                    <div class="col-lg-12 inputsBusquedaSeccion">
                        <div class="col-lg-12 col-md-12 inputBusqueda">
                            <input type="text" class="form-control" placeholder="Ingrese el nombre el evento" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row marginNull btnBuscar"><!--divAtomBusqueda-->
                <button class="btn btn-primary botonBuscar" disabled >Buscar</button>
            </div>
        </div>
        <div class="row marginNull">
            <h3 class="tituloSeccion">Comentarios</h3>
        </div>
    </div>
    <div class="col-lg-9 col-md-9">
        <div class="row marginNull divResultadoBusqueda" style="display:none">
            <div class="row marginNull divSeparadorFecha">
                <div class="col-lg-1">
                    <hr class="hrSeperaFechas" />
                </div>
                <div class="col-lg-2">
                    <h4>Busqueda</h4>
                </div>
                <div class="col-lg-9">
                    <hr class="hrSeperaFechas" />
                </div>
            </div>
            <div class="divEventos">
                <div>

                </div>
            </div>
        </div>
        <div class="row marginNull divSeparadorFecha">
            <div class="col-lg-1 col-md-1 col-sm-5 col-xs-5">
                <hr class="hrSeperaFechas" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 pointer btnDesplegarEventos">
                <h4>Hoy</h4>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-5 col-xs-5">
                <hr class="hrSeperaFechas" />
            </div>
        </div>
        <div class="divEventos row">
            @if (eventosHoy != null && eventosHoy.Count > 0)
            {
                int cn = 0;string separador = "";string cerrar = "</div>";string display = "block";
                bool abierto = false;
                
                foreach (Evento evento in eventosHoy)
                {
                    if (cn == 0 && !abierto)
                    {
                        separador = "<div class='pageEvent row marginNull' style=\"display:"+display+"\">";
                        abierto = true;
                        @(new HtmlString(separador));
                    }
                    <div class="evento col-lg-6 col-md-6 col-sm-4 col-xs-6">
                        <div class="cuadritoEvento">
                            <div class="row marginNull divTitle">
                                <div class="col-lg-3 col-md-12 col-sm-12 imagenEvento">
                                    <img src="~/Content/images/generales/calendar.png" />
                                </div>
                                <div class="col-lg-9 col-md-12 tituloEvento">
                                    <h4>@evento._evento</h4>
                                    <div class="fechaEvento">
                                        Dio inicio: @evento._fechaInicio
                                    </div>
                                </div>
                            </div>
                            <div class="row marginNull divCuerpo">
                                <p>
                                    @evento._descripcion 
                                    <span class="spanLeerMas">
                                        <a href="#">Leer mas</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    if (cn == 3 && abierto)
                    {
                        cn = -1;
                        display = "none";
                        abierto = false;
                        @(new HtmlString(cerrar));
                    }
                    cn++;
                }
                if (abierto)
                {
                    @(new HtmlString(cerrar));
                }
                <div class="row marginNull navSection">
                    <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="divNavIz">
                            <img src="~/Content/images/generales/navs/navL.png" direccion="0" class="navEvento pointer " />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="divNavDer">
                            <img src="~/Content/images/generales/navs/navR.png" direccion="1" class="navEvento pointer" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="noEvento">
                    <img  src="~/Content/images/views/eventos/noevento.png"/>
                    <h3>No hay eventos para hoy</h3>
                </div>
            }
            
        </div>
        <div class="row marginNull divSeparadorFecha">
            <div class="col-lg-1 col-md-1 col-sm-5 col-xs-5">
                <hr class="hrSeperaFechas" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 pointer btnDesplegarEventos ">
                <h4>Mes</h4>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-5 col-xs-5">
                <hr class="hrSeperaFechas" />
            </div>
        </div>
        <div class="divEventos row">

            @if (eventosMes != null && eventosMes.Count > 0)
            {
                int cn = 0;string separador = "";string cerrar = "</div>";string display = "block";
                bool abierto = false;
                
                foreach (Evento evento in eventosMes)
                {
                    if (cn == 0 && !abierto)
                    {
                        separador = "<div class='pageEvent row marginNull' style=\"display:"+display+"\">";
                        abierto = true;
                        @(new HtmlString(separador));
                    }
                    <div class="evento col-lg-6 col-md-6 col-sm-4 col-xs-6">
                        <div class="cuadritoEvento">
                            <div class="row marginNull divTitle">
                                <div class="col-lg-3 col-md-12 col-sm-12  imagenEvento">
                                    <img src="~/Content/images/generales/calendar.png" />
                                </div>
                                <div class="col-lg-9 col-md-12 tituloEvento">
                                    <h4>@evento._evento</h4>
                                    <div class="fechaEvento">
                                        @evento.getFechaInicio - @evento.getFechaFin
                                    </div>
                                </div>
                            </div>
                            <div class="row marginNull divCuerpo">
                                <p>
                                    @evento._descripcion 
                                    <span class="spanLeerMas">
                                        <a href="#">Leer mas</a>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    if (cn == 3 && abierto)
                    {
                        cn = -1;
                        display = "none";
                        abierto = false;
                        @(new HtmlString(cerrar));
                    }
                    cn++;
                }
                if (abierto)
                {
                    @(new HtmlString(cerrar));
                }
                <div class="row marginNull navSection">
                    <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="divNavIz">
                            <img src="~/Content/images/generales/navs/navL.png" direccion="0" class="navEvento pointer" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="divNavDer">
                            <img src="~/Content/images/generales/navs/navR.png" direccion="1" class="navEvento pointer" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="noEvento">
                    <img  src="~/Content/images/views/eventos/noevento.png"/>
                    <h3>No hay eventos para este mes</h3>
                </div>
            }
            
        </div>
    </div>
</div>
