<html>
    <head>
        <title>@ViewBag.headTitulo</title>
        @Styles.Render("~/bundles/bootstrap")
        <!-- Meta -->
            <meta name="viewport" content="width=device-width" />
            <meta charset="@ViewData["charset"]" />
            <link rel="icon" href="@Url.Content("~/Content/images/generales/logo_IUS.ico")" />
        <!-- Styles -->
            <link rel="stylesheet" href="~/Content/ius_theme/generals/fonts.css" />
            <link rel="stylesheet" href="~/Content/ius_theme/generals/stylei.css" />
            <link rel="stylesheet" href="~/Content/ius_theme/generals/mediai.css" />
            <link rel="stylesheet" href="~/Content/ius_theme/generals/ThirdParty/FontAwesome/css/font-awesome.css">
        <!-- Jquery ui -->
            <link rel="stylesheet" href="~/Content/ius_theme/generals/ThirdParty/jquery-ui/smoothness/jquery-ui.css" />
            
        <!-- Dinamico -->
            @RenderSection("estilosPersonalizados", false)
            
    </head>
    <body>
        <input type="hidden" value="@IUSLibs.GENERALS.Rutas.IUSBACK" class="txtHdIusback" />
        <input type="hidden" value="@IUSLibs.GENERALS.Rutas.IUS" class="txtHdIus" />
        @Html.Partial("menui")
        @RenderBody()
        @Html.Partial("footeri")
        @Scripts.Render("~/bundles/scriptsGeneralesi")
        <script src="~/Scripts/Generales/jquery-ui.js"></script>
        @RenderSection("scriptsPersonalizados", false)
    </body>
</html>