@using IUS.Models.Entidades
@{
    List<NoticiaEvento> noticiasEventos = null;
    try
    {
        noticiasEventos = (List<NoticiaEvento>)ViewBag.notiEvento;
    }
    catch (Exception)
    {
        
    }
}
@if (ViewBag.footer == null)
{
 <div class="row marginNull seccionNoticiaEvento">
    <div class="centroPagina">
        <div class="row marginNull">
            <div class="col-lg-6 colTituloNoticia">
                <h2 class="tituloSeccionNoticiaEvento">@ViewData["lb-tituloNoticiaEvento"]</h2>
            </div>
        </div>
        @if (noticiasEventos != null && noticiasEventos.Count > 0)
        {
            int cn = 1; string url; string tituloHover = "";string src = "";
            foreach (NoticiaEvento noticiaEvento in noticiasEventos)
            {

                if (noticiaEvento._idTipoEntrada == (int)NoticiaEvento.Tipo.Evento)
                {
                    tituloHover = ViewData["lb-hover-evento"].ToString();
                    url = Url.Action("Index", "Evento");
                    src = Url.Content("~/Content/images/views/Home/noticias/" + cn + ".png");
                }
                else if (noticiaEvento._idTipoEntrada == (int)NoticiaEvento.Tipo.Noticia)
                {
                    tituloHover = ViewData["lb-hover-noticia"].ToString();
                    url = Url.Action("Index", "Noticias", new { id = noticiaEvento._id });
                    src = Url.Action("getImageThumbnail", "Noticias",new {id= noticiaEvento._id});
                }
                else
                {
                    url = "";
                }
                <div class="row marginNull notiEve">
                    <input class="txtHdTipoEntra" type="hidden" value="@noticiaEvento._idTipoEntrada" />
                    <div class="col-lg-6 contentImgNotiEve hoverEventNoti">
                        <div class="text-tituloNotiEve" style="display:none;">@tituloHover</div>
                        <div class="divHoverNotiEve" style="display:none;">
                        </div>
                        <img class="imgNotiEve" src="@src" />
                    </div>
                    <div class="col-lg-6 seccionContenidoNotiEve">
                        <div class="contenido">
                            <h4>@noticiaEvento._titulo</h4>
                            <p>
                                @noticiaEvento._descripcion
                            </p>
                            <div class="divLinkNotiEve">
                                <a class="aLeerMas" href="@url">@ViewData["lb-leerMas"]>>></a>
                            </div>
                        </div>
                    </div>
                </div>
                cn++;
            }
        }
    </div>
</div>   
}
<footer class="footer">
    <div class="row marginNull text-center centroPagina">
        <div class="col-lg-4 divImgFooter">
            <img src="@Url.Content("~/Content/images/generales/logoIus_new.png")" />
        </div>
        <div class="col-lg-6 footerText">
            <div class="row marginNull">@ViewData["copyright-1"]</div>
            <div class="row marginNull">@ViewData["copyright-2"]</div>
            <div class="row marginNull">@ViewData["copyright-3"]</div>
        </div>
    </div>
</footer>