@using IUSLibs.TRL.Entidades
@{
    List<Idioma> idiomas = (List<Idioma>)ViewBag.idiomas;
}
<header>
    <div class="row marginNull">
        <div class="col-lg-2 col-md-12 logoHeaderDiv">
            <img src="~/Content/images/generales/logo_IUS.jpg" />
        </div>
        <div class="col-lg-10 col-md-12 paddingNull">
            <nav class="menu">
                <div class="mobileButton">
                    <i class="fa fa-bars desplegableMobile"></i>
                </div>
                <ul class="ulMenu">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            @ViewData["menu1.1"]
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            @ViewData["menu1.2"]
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Red IUS
                        </a>
                    </li>
                    <li>
                        <a href="http://168.243.3.62/iusback/" target="_blank">
                            <!--href="http://localhost:55869/"-->
                            Login
                        </a>
                    </li>
                    <li class="liSeach">
                        <input class="form-control txtSearchGlobal " placeholder="Buscar en pagina" />
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row marginNull">
        <div class="menu2 col-lg-12">
            <div class="mobileButton">
                <i class="fa fa-bars desplegableMobile"></i>
            </div>
            <ul class="ulMenu">
                <li>
                    <a href="#">
                        Galeria
                    </a>
                </li>
                <li>
                    <a href="#">
                        Repositorio digital
                    </a>
                </li>
                <li>
                    <a href="#">
                        Eventos
                    </a>
                </li>
                <li>
                    <a href="#">
                        Noticias
                    </a>
                </li>
                <li>
                    <select class="form-control cbIdioma">
                        <option value="-1">Idioma</option>
                        @if (idiomas != null)
                        {
                            foreach (Idioma idioma in idiomas)
                            {
                                <option value="@idioma._idIdioma">@idioma._idioma</option>
                            }
                        }
                    </select>
                </li>
            </ul>
        </div>
    </div>
</header>