@using IUSLibs.TRL.Entidades
@using IUSLibs.SECPU.Entidades
@{
    List<Idioma> idiomas = (List<Idioma>)ViewBag.idiomas;
    UsuarioPublico usuarioSession = null;
    if(ViewBag.usuarioSession != null){
        usuarioSession = (UsuarioPublico)ViewBag.usuarioSession;
    }
}
<header>
    <div class="row marginNull">
        <div class="col-lg-2 col-md-12 logoHeaderDiv">
            <img src="~/Content/images/generales/logo_IUS.jpg" />
            @if (usuarioSession != null)
            {
                <div class="row marginNull sessionSpace">
                    <div class="row marginNull text-center">
                        <span>@usuarioSession.nombreCompleto</span>
                    </div>
                    <div class="row marginNull text-center">
                        <a href="#" class="aCerrarSession">@ViewData["txt-cerrarSesion"]</a>
                    </div>
                </div>
                
            }
        </div>
        <div class="col-lg-10 col-md-12 paddingNull">
            <nav class="menu">
                <div class="mobileButton">
                    <i class="fa fa-bars desplegableMobile"></i>
                </div>
                <ul class="ulMenu">
                    <li>
                        <a href="@Url.Action("Index", "Home")" class="@ViewBag.menu11">
                            @ViewData["menu1.1"]
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Login")" class="@ViewBag.menu12">
                            @ViewData["menu1.2"]
                        </a>
                    </li>
                    <li>
                        <a href="#" class="@ViewBag.menu13">
                            @ViewData["menu1.3"]
                        </a>
                    </li>
                    <li>
                        <select class="form-control cbIdioma">
                            <option value="-1">Idioma</option>
                            @if (idiomas != null)
                            {
                                foreach (Idioma idioma in idiomas)
                                {
                                    <option value="@idioma._idIdioma">@idioma._idioma</option>
                                }
                            }
                        </select>
                        <a href="http://168.243.3.62/iusback/" target="_blank">
                            <!--href="http://localhost:55869/"-->
                            <!--Login-->
                        </a>
                    </li>
                    <li class="liSeach">
                        <input class="form-control txtSearchGlobal " placeholder="Buscar en pagina" />
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row marginNull">
        <div class="menu2 col-lg-12">
            <div class="mobileButton">
                <i class="fa fa-bars desplegableMobile"></i>
            </div>
            <ul class="ulMenu">
                <li>
                    <a href="@Url.Action("Index","Conocenos")" class="@ViewBag.menu21">
                        @ViewData["menu2.1"]
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Instituciones")" class="@ViewBag.menu22">
                        @ViewData["menu2.2"]
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Evento")" class="@ViewBag.menu23">
                        @ViewData["menu2.3"]
                    </a>
                </li>
                <li >
                    <a href="@Url.Action("Index","Repositorio")" class="@ViewBag.menu24">
                        @ViewData["menu2.4"]
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Todas","Noticias")" class="@ViewBag.menu25">
                        @ViewData["menu2.5"]
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>