@using IUSLibs.TRL.Entidades
@{
    List<Idioma> idiomas = (List<Idioma>)ViewBag.idiomas;
    string imgAreaPrivada = Url.Content("~/Content/images/views/Home/header/user.png");
    if (ViewBag.submenu11 != null && ViewBag.submenu11 != "")
    {
        imgAreaPrivada = Url.Content("~/Content/images/views/Home/header/userRojo.png");
    }
}
<header>
    <div class="row marginNull header centroPagina">
        <div class="col-lg-3 logoHeaderSection ">
            <img src="@Url.Content("~/Content/images/generales/logo2.png")" />
        </div>
        <div class="col-lg-9">
            <div class="col-lg-4 divSectionIdioma ">
                <div class="otroDiv">
                    <div class="tituloIdioma">@ViewData["lb-idioma"]</div>
                    <div class="padreCaja">
                        <div class="cajaArriba">
                            <div class="caja">
                                <select class=" cbIdioma">
                                    <option value="-1">Idioma</option>
                                    @*<option>Español</option>*@
                                    @if (idiomas != null)
                                    {
                                        foreach (Idioma idioma in idiomas)
                                        {
                                            <option value="@idioma._idIdioma">@idioma._idioma</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <nav class="navPrincipal">
                    <ul>
                        <li class="@ViewBag.menu11">
                            <a href="@Url.Action("Index", "Home")" class="">
                                @*Inicio*@
                                @ViewData["menu1.1"]
                            </a>
                        </li>
                        <li class="@ViewBag.menu12">
                            <a href="@Url.Action("Index","Conocenos")">
                                @*Conocenos*@
                                @ViewData["menu2.1"]
                            </a>
                        </li>
                        <li class="@ViewBag.menu13">
                            <a href="@Url.Action("Index","Instituciones")">
                                @*Instituciones*@
                                @ViewData["menu2.2"]
                            </a>
                        </li>
                        <li>
                            <a href="#">Red Ius</a>
                        </li>
                        <li class="@ViewBag.menu24">
                            <a href="@Url.Action("Index","Repositorio")">
                                @*Recursos*@
                                @ViewData["menu2.4"]
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="row marginNull subSeccion">
        <div class="centroPagina">
            <div class="col-lg-offset-8 col-lg-4">
                <div class="col-lg-6">
                    <a class="@ViewBag.submenu11 linkAreaPrivada headerTextoLink" href="@Url.Action("Index", "Login")">
                        <img class="imgIcoHeader" src="@imgAreaPrivada" /> @ViewData["menu1.2"] @*Área privada*@
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="@ViewBag.submenu12 linkAreaPrivada headerTextoLink" href="@Url.Action("Index", "Login")">
                        <img class="imgIcoHeader headerTextoLink" src="@Url.Content("~/Content/images/views/Home/header/mail.png")" /> @ViewData["menuContacto"]
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row marginNull rowSearch">
        <div class="col-lg-offset-8 col-lg-2">
            @*<input type="text" class="form-control inputSearch"/>*@
            <div class="form-group has-feedback inputSearchDiv">
                @*<input type="text" class="form-control" placeholder="Username" />*@
                <input type="text" class="form-control inputSearch" />
                <i class="glyphicon form-control-feedback icoSearch">
                    <img class="imgLupita" src="@Url.Content("~/Content/images/generales/lupita.png")" />
                </i>
            </div>
        </div>
    </div>
</header>
