@using IUSLibs.REPO.Entidades.Publico
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/AllFiles/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/AllFiles/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Repositorio/AllFiles/script.js"></script>
    <script src="~/Scripts/views/Repositorio/AllFiles/functions.js"></script>
}
@{
    List<CarpetaPublica> carpetas = (List<CarpetaPublica>)ViewBag.carpetas;
    List<ArchivoPublico> archivos = (List<ArchivoPublico>)ViewBag.archivos;
    CarpetaPublica carpetaPadre = (CarpetaPublica)ViewBag.carpetaPadre;
    string ruta = "/"; string nombre = ViewData["todo"].ToString(); int idCarpetaPadre = -1;
    if (carpetaPadre != null)
    {
        ruta = carpetaPadre._strRuta;
        nombre = carpetaPadre._nombre;
        idCarpetaPadre = carpetaPadre._idCarpetaPublica;
    }
    int tipo;
    try
    {
        tipo = (int)ViewBag.tipo;
    }
    catch (Exception)
    {
        tipo = -1;
    }
    
}
<input type="hidden" class="txtHdTipoCategoria" value="@tipo"/>
<input type="hidden" class="txtHdIdCarpetaActual" value="@idCarpetaPadre" />
<input type="hidden" class="txtHdAccion" value="@ViewBag.accion"/>
<h2 class="tituloPrincipal">@nombre</h2>
<div class="row marginNull divBusqueda">
    <div class="col-lg-4 divBusquedaRuta">
        <input name="txtIdFiltro" type="hidden" value="-1" />
        <label>Ruta</label>
        <div class="input-group">
            <input class="form-control txtRutaPublica" name="txtRutaPublica" value="@ruta" />
            <span class="input-group-addon spIrBuscar">@ViewData["texto-boton-ruta"]</span>
        </div>
    </div>
    <div class="col-lg-2">
        <label>Vistas</label>
        <div class="accionesDiv form-control inputBackModal">
            <a href="#" class="ico controlVista iconoVistaCuadricula activeVista" title="Cuadricula">
                <i class="fa fa-th-large"></i>
            </a>
            <a href="#" class="ico controlVista icoVistaLista " title="Lista">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-offset-2 col-lg-4">
        <div class="row marginNull">
            <div class="col-lg-6">
                <label>Busqueda</label>
            </div>
            <div class="col-lg-6">
                @ViewData["selector-busqueda-1"] <input type="radio" name="rdBusqueda" class="rdBusqueda" value="0" checked />
                @ViewData["selector-busqueda-2"] <input type="radio" name="rdBusqueda" class="rdBusqueda" value="1" />
            </div>
            
        </div>
        <div class="input-group ">
            <input class="form-control txtBusqueda " placeholder="@ViewData["texto-ayuda-busqueda"]" />
            <span class="input-group-addon btnBuscarCarpeta visiHidden">@ViewData["texto-boton-busqueda"]</span>
        </div>
    </div>
    
</div>
<div class="row marginNull folders">
    <div class="lista">
        <!--
         <div class="col-lg-6">
            Metas
        </div>
        <div class="col-lg-3">
            Folder
        </div>
        <div class="col-lg-3">
            Fecha de creación 
        </div>
            -->

    </div>
    
    <div class="cuadricula">
        @if (carpetas != null && carpetas.Count > 0)
        {
            foreach (CarpetaPublica carpeta in carpetas)
            {
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 folder">
                    <a href="@Url.Action(ViewBag.accion, "Repositorio", new {id= @carpeta._idCarpetaPublica,id2=tipo})">
                        <div class="row divHerramientasIndividual visiHidden">
                            <i class="fa fa-download"></i>
                        </div>
                        <div class="cuadritoIcono cuadritoCarpeta">
                            <img src="~/Content/images/views/repositorio/@carpeta.getIconoFront" />
                            <h3 class="folderTitle">@carpeta._nombre</h3>
                        </div>
                    </a>
                </div>
            }
        }
        @if (archivos != null && archivos.Count > 0)
        {
            foreach (ArchivoPublico archivo in archivos)
            {
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 folder">
                    <div class="row divHerramientasIndividual">
                        <a href="@Url.Action("downloadFile", "Repositorio", new {id=archivo._idArchivoPublico })" class="ico" title="Descargar">
                            <i class="fa fa-download iconoHerramientas"></i>
                        </a>
                    </div>
                    <div class="cuadritoIcono ">
                        <img src="~/Content/images/views/repositorio/@archivo._archivoUsuario._extension._tipoArchivo._icono" />
                        <h3 class="folderTitle">@archivo._nombre</h3>
                    </div>
                </div>
            }
        }
    </div>
</div>
