@using IUSLibs.REPO.Entidades.Publico
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/AllFiles/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/AllFiles/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Repositorio/AllFiles/script.js"></script>
    <script src="~/Scripts/views/Repositorio/AllFiles/functions.js"></script>
}
@{
    List<CarpetaPublica> carpetas = (List<CarpetaPublica>)ViewBag.carpetas;
    List<ArchivoPublico> archivos = (List<ArchivoPublico>)ViewBag.archivos;
    CarpetaPublica carpetaPadre = (CarpetaPublica)ViewBag.carpetaPadre;
    
    string ruta = "/"; string nombre = ""; int idCarpetaPadre = -1;
    int idFiltro = (int)ViewBag.filtro; int idVista = (int)ViewBag.vista;
    string oculto = "hidden", vistaActiva = "activeVista";
    string[] clases = new string[2];
    string[] activeVista = new string[2];
    
    if (carpetaPadre != null)
    {
        ruta = carpetaPadre._strRuta;
        nombre = carpetaPadre._nombre;
        idCarpetaPadre = carpetaPadre._idCarpetaPublica;
    }
    int tipo;
    try
    {
        tipo = (int)ViewBag.tipo;
    }
    catch (Exception)
    {
        tipo = -1;
    }
    switch (idVista)
    {
        case -1:// cuadricula 
            {
                
                clases[0]       = oculto;       clases[1]       = "";
                activeVista[0]  = vistaActiva;  activeVista[1]  = "";
                break;
            }
        case 1: // lista 
            {
                clases[0]       = "";       clases[1]       = oculto;
                activeVista[0]  = "";       activeVista[1]  = vistaActiva;
                break;
            }
    }
}
<input type="hidden" class="txtHdTipoCategoria" value="@tipo"/>
<input type="hidden" class="txtHdIdCarpetaActual" value="@idCarpetaPadre" />
<input type="hidden" class="txtHdAccion" value="@ViewBag.accion"/>
<h2 class="tituloPrincipal">@nombre</h2>
<div class="row marginNull divBusqueda">
    <div class="col-lg-4 divBusquedaRuta">
        <input name="txtIdFiltro" type="hidden" value="@idFiltro" />
        <label>Ruta</label>
        <div class="input-group">
            <input class="form-control txtRutaPublica" name="txtRutaPublica" value="@ruta" />
            <span class="input-group-addon spIrBuscar pointer">@ViewData["texto-boton-ruta"]</span>
        </div>
    </div>
    <div class="col-lg-2">
        <label>Vistas</label>
        <div class="accionesDiv form-control inputBackModal">
            <a href="#" class="ico controlVista iconoVistaCuadricula @activeVista[0]" title="Cuadricula"><!--activeVista-->
                <i class="fa fa-th-large"></i>
            </a>
            <a href="#" class="ico controlVista icoVistaLista @activeVista[1]" title="Lista">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-offset-2 col-lg-4">
        <div class="row marginNull">
            <div class="col-lg-6">
                <label>Busqueda</label>
            </div>
            <div class="col-lg-6">
                @ViewData["selector-busqueda-1"] <input type="radio" name="rdBusqueda" class="rdBusqueda" value="0" checked />
                @ViewData["selector-busqueda-2"] <input type="radio" name="rdBusqueda" class="rdBusqueda" value="1" />
            </div>
            
        </div>
        <div class="input-group ">
            <input class="form-control txtBusqueda " placeholder="@ViewData["texto-ayuda-busqueda"]" />
            <span class="input-group-addon btnBuscarCarpeta visiHidden pointer">@ViewData["texto-boton-busqueda"]</span>
        </div>
    </div>
    
</div>
<div class="row marginNull">
    <div class="divMensajesGenerales">

    </div>
</div>
<div class="row marginNull folders">
    <div class="lista @clases[0]">
        @if (carpetas != null && carpetas.Count > 0 && idVista == 1)
        {
            foreach (CarpetaPublica carpeta in carpetas)
            {
                <a href="@Url.Action(ViewBag.accion,"Repositorio",new {id=@carpeta._idCarpetaPublica,id2=tipo,id3=1})" class="aListaCarpeta">
                    <div class='row marginNull folderDetalles'>
                        <div class='col-lg-6'>
                            <i class='fa fa-folder'></i> @carpeta._nombre
                        </div>

                        <div class='col-lg-2'>
                            Folder
                        </div>
                        <div class='col-lg-3'>

                        </div>
                        <div class='col-lg-1'>

                        </div>

                    </div>
                </a>
            }
        }
        @if (archivos != null && archivos.Count > 0)
        {
            foreach (ArchivoPublico archivo in archivos)
            {
                <div class='row marginNull folderDetalles'>
                    <div class='col-lg-6'>
                        @archivo._nombre
                    </div>
                    <div class='col-lg-2'>
                        @archivo._archivoUsuario._extension._tipoArchivo._tipoArchivo
                    </div>
                    <div class='col-lg-3'>
                        @archivo.getFechaCreacion
                    </div>
                    <div class='col-lg-1'>
                        <a href='@Url.Action("downloadFile", "Repositorio", new { id = archivo._idArchivoPublico })'>
                            <i class='fa fa-download iconoHerramientas'></i>
                        </a>
                    </div>
                </div>
            }
        }
    </div>

    
    <div class="cuadricula @clases[1] ">
        @if (carpetas != null && carpetas.Count > 0 && idVista == -1)
        {
            foreach (CarpetaPublica carpeta in carpetas)
            {
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 folder">
                    <a href="@Url.Action(ViewBag.accion, "Repositorio", new {id= @carpeta._idCarpetaPublica,id2=tipo})">
                        <div class="row divHerramientasIndividual visiHidden">
                            <i class="fa fa-download"></i>
                        </div>
                        <div class="cuadritoIcono cuadritoCarpeta">
                            <img src="~/Content/images/views/repositorio/@carpeta.getIconoFront" />
                            <h3 class="folderTitle">@carpeta._nombre</h3>
                        </div>
                    </a>
                </div>
            }
        }
        @if (archivos != null && archivos.Count > 0)
        {
            foreach (ArchivoPublico archivo in archivos)
            {
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 folder">
                    <div class="row divHerramientasIndividual">
                        <a href="@Url.Action("downloadFile", "Repositorio", new {id=archivo._idArchivoPublico })" class="ico" title="Descargar">
                            <i class="fa fa-download iconoHerramientas"></i>
                        </a>
                    </div>
                    <div class="cuadritoIcono ">
                        <img src="~/Content/images/views/repositorio/@archivo._archivoUsuario._extension._tipoArchivo._icono" />
                        <h3 class="folderTitle">@archivo._nombre</h3>
                    </div>
                </div>
            }
        }
    </div>
</div>
