@using IUSLibs.REPO.Entidades
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/media.css" />
}
@{
    List<TipoArchivo> tiposArchivos = (List<TipoArchivo>)ViewBag.tiposArchivos;
}
<div class="row marginNull busquedaRepo" >
    <div class="row marginNull divRowTitulo">
        <h2>
            @ViewData["Titulo"]
            <!--Repositorio digital-->

        </h2>
        <h4>
            @ViewData["Subtitulo"]
        </h4>
    </div>
    
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 seleccion">
        <a href="@Url.Action("AllFiles","Repositorio")">
            <img src="~/Content/images/views/Repositorio/cloud.png">
            <h3>
                @ViewData["todo"]
            </h3>
        </a>
    </div>
    @if (tiposArchivos != null && tiposArchivos.Count > 0)
    {
        foreach (TipoArchivo tipoArchivo in tiposArchivos)
        {
            
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 seleccion">
                    <a href="@Url.Action("FileByCategory", "Repositorio", new { id= -1,id2=@tipoArchivo._idTipoArchivo})">
                        <img src="~/Content/images/views/Repositorio/@tipoArchivo._icono">
                        <h3>@tipoArchivo._tipoArchivo</h3>
                    </a>
                </div>
            
        }

    }
</div>
