@using IUSLibs.REPO.Entidades
@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
    //List<NoticiaEvento> noticiasEventos = (List<NoticiaEvento>)ViewBag.notiEvento;
    List<TipoArchivo> tiposArchivos = (List<TipoArchivo>)ViewBag.tiposArchivos;
    //
    
}
@section estilosPersonalizados{
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/Indexi/style.css" />
    <link rel="stylesheet" href="~/Content/ius_theme/views/Repositorio/Indexi/media.css" />
}
@section scriptsPersonalizados{
    <script src="~/Scripts/views/Repositorio/Indexi/script.js"></script>
    <script src="~/Scripts/views/Repositorio/Indexi/functions.js"></script>
}
<div class="row marginNull lineaRoja">

</div>
<input type="hidden" class="txtHdIdTipo" value="@ViewBag.tipoActual" />
<input type="hidden" class="txtHdArchivoNoEncontrado" value="@ViewData["lb-mjs-archivoNoEncontrado"]" />
<div class="centroPagina row marginNull contenidoCuerpo">
    <div class="col-lg-4">
        <ul class="menuLateral">
            @if (tiposArchivos != null && tiposArchivos.Count > 0)
            {
                string urlNormal,urlRoja;
                foreach (TipoArchivo tipoArchivo in tiposArchivos)
                {
                    if (tipoArchivo._idTipoArchivo != 1)
                    {
                        urlNormal   = Url.Content("~/Content/images/views/Repositorio/Lateral/" + tipoArchivo._idTipoArchivo + ".png");
                        urlRoja     = Url.Content("~/Content/images/views/Repositorio/Lateral/" + tipoArchivo._idTipoArchivo + "r.png");
                        <li id="@tipoArchivo._idTipoArchivo">
                            <div class="row marginNull">
                                <div class="colImgLateral">
                                    <input type="hidden" class="txtHdNormal" value="@urlNormal" />
                                    <input type="hidden" class="txtHdRoja" value="@urlRoja" />
                                    <input name="txtHdIdTipoArchivo" type="hidden" class="txtHdIdTipoArchivo" value="@tipoArchivo._idTipoArchivo" />
                                    <img class="imgLateral" src="@urlNormal" />
                                </div>
                                <div class="texto">@tipoArchivo._tipoArchivo</div>
                            </div>
                        </li>    
                    }
                }
            }
            @*<li>
                <div class="row marginNull">
                    <div class="colImgLateral">
                        <img class="imgLateral" src="@Url.Content("~/Content/images/views/Repositorio/Lateral/documentos.png")" />
                    </div>
                    <div class="texto">Documentos</div>
                </div>
            </li>
            <li>
                <div class="row marginNull">
                    <div class="colImgLateral">
                        <img class="imgLateral" src="@Url.Content("~/Content/images/views/Repositorio/Lateral/imagen.png")" />
                    </div>
                    <div class="texto">Imagenes</div>
                </div>
            </li>
            <li>
                <div class="row marginNull">
                    <div class="colImgLateral">
                        <img class="imgLateral" src="@Url.Content("~/Content/images/views/Repositorio/Lateral/audifonos.png")" />
                    </div>
                    <div class="texto">Audios</div>
                </div>
            </li>
            <li>
                <div class="row marginNull">
                    <div class="colImgLateral">
                        <img class="imgLateral" src="@Url.Content("~/Content/images/views/Repositorio/Lateral/video.png")" />
                    </div>
                    <div class="texto">Videos</div>
                </div>
            </li>*@

        </ul>
    </div>
    <div class="col-lg-8 detalles">
        
        <div class="row marginNull divTitulo">
            <h3 class="tituloCuerpo">Documentos</h3>
            <p>@ViewData["texto-inicial"]</p>
        </div>
        <div class="row marginNull divSearch">
            <div class="col-lg-8 paddingNull padreIndicacionesSearch">
                <div class="spanIndicacionesSearch">@ViewData["txt-placeholder-search"]</div>
            </div>
            <div class="col-lg-4 hermanoIndicacionesSearch">
                <div class="row marginNull">
                    <div class="divLupita">
                        <i class="fa fa-search icoLupita" aria-hidden="true"></i>
                    </div>
                    <div class="divInput">
                        <textarea class="txtSearch form-control" rows="2" cols="50" placeholder=""></textarea>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row marginNull divRowTable">
            <table class="table tablaFichero">
                <thead>
                    <tr>
                        <th>@ViewData["tb-th-pais"]</th>
                        <th>@ViewData["tb-th-institucion"]</th>
                        <th>@ViewData["tb-th-archivo"]</th>
                        @*<th>@ViewData["tb-th-tipo"]</th>*@
                        <th>@ViewData["tb-th-descarga"]</th>
                    </tr>
                </thead>
                <tbody class="tbArchivo">
                    @*<tr class="trFichero">
                        <td>El Salvador</td>
                        <td>Universidad Don Bosco</td> 
                        <td class="tdNombreFichero">Documento 1</td>
                        <td>Pdf</td>
                        <td>
                            <a href="#">
                                <img class="imgDownload" src="@Url.Content("~/Content/images/views/Repositorio/descarga.png")" />
                            </a>
                        </td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>
    
