@using IUSLibs.FrontUI.Entidades
@using IUSLibs.SEC.Entidades
@section estilosPersonalizados{
    <!-- plugins -->
        <!--Data table-->
            <link rel="stylesheet" href="~/Content/third-party/datatable/css/jquery.dataTables.min.css" />
        <!-- chosen -->
            <link rel="stylesheet" href="~/Content/third-party/chosen/css/chosen.min.css" />
    <!-- propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/stylei.css" />
}
@section scriptsPersonalizados{
    <!-- plugins -->
        <!-- chosen -->
            <script src="~/Content/third-party/chosen/js/chosen.jquery.min.js"></script>    
        <!-- Data table -->
            <script src="~/Content/third-party/datatable/js/jquery.dataTables.js"></script>
    <!-- propios -->
        <script src="~/Scripts/Views/GestionInstituciones/script.js"></script>
        <script src="~/Scripts/Views/GestionInstituciones/functions.js"></script>
}
@{
    Layout = "~/Views/Shared/_Layouti.cshtml";
    
    List<Pais>          paises              = null;
    List<Institucion>   instituciones       = null;
    Permiso             permiso             = null;
    List<TipoInstitucion> tiposInsituciones = null;
    try
    {
        paises              = (List<Pais>)ViewBag.paises;
        instituciones       = (List<Institucion>) ViewBag.instituciones;
        permiso             = (Permiso)ViewBag.permiso;
        tiposInsituciones   = (List<TipoInstitucion>)ViewBag.tiposInsituciones;
        
    }
    catch (Exception)
    {
        
    }
    
}
<div class="row marginNull centroPagina cuerpoIndex">
    <div class="centro">
        <div class="row marginNull rowNavegacion">
            <span>
                <a href="@Url.Action("Index","Home")">
                    Menu principal
                </a>
            </span>
            >>>
            <span class="titulo">
                Gestion de instituciones
            </span>
        </div>
        <div class="row marginNull divMensajesGenerales">

        </div>
        <div class="row marginNull">
            <div class="row marginNull divDatos">
                <div class="col-lg-12">
                    <table class="table table-hover tbInstituciones">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nombre</th>
                                @*<th class="thDireccion">Direccion</th>*@
                                <th>Pais</th>
                                <th>Fundacion</th>
                                <th>Tipo</th>
                                @*<th>Ciudad</th>*@
                                <th>Acciones</th>
                            </tr>
                            <tr class="trFrmInstituciones">
                                <td></td>
                                <td>
                                    <input class="inputBack txtNombreInstitucion form-control txtNombreInstitucionVal" name="txtNombreInstitucion" />
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </td>
                                @*<td>
                                    <textarea class="inputBack txtAreaDireccion form-control txtAreaDireccionVal" name="txtAreaDireccion"></textarea>
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </td>*@
                                <td>
                                    <select class="inputBack cbPais cbPaisVal" name="cbPais">
                                        @if (paises != null && paises.Count > 0)
                                        {
                                            int idContinente = -1; string optionGroup = ""; bool abierto = false;
                                            foreach (Pais pais in paises)
                                            {
                                                if (pais._continente._idContinente != idContinente)
                                                {
                                                    if (abierto)
                                                    {
                                                        optionGroup = "</optiongroup>";
                                                        abierto = false;
                                                    }

                                                    optionGroup = "<optgroup label='" + pais._continente._continente + "'>";
                                                    idContinente = pais._continente._idContinente;
                                                    @(new HtmlString(optionGroup));
                                                    abierto = true;
                                                }
                                                <option value="@pais._idPais">@pais._pais</option>
                                            }
                                            optionGroup = "</optiongroup>";
                                            @(new HtmlString(optionGroup));
                                        }
                                    </select>
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </td>
                                <td class="td4">
                                    <input type="number" min="1800" max="2500" class="inputBack txtAnio form-control" name="txtAnio" />
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </td>
                                <td>
                                    <select class="inputBack cbTipoInst form-control " name="cbTipoInst">
                                        @if (tiposInsituciones != null && tiposInsituciones.Count > 0)
                                        {
                                            foreach (TipoInstitucion tipoInstitucion in tiposInsituciones)
                                            {
                                                <option value="@tipoInstitucion._idTipoInstitucion">@tipoInstitucion._tipoInstitucion</option>
                                            }
                                        }
                                    </select>
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </td>
                                @*<td>
                                    <input class="inputBack form-control txtCiudad" name="txtCiudad" />
                                    <div class="row marginNull divResultado hidden">

                                    </div>
                                </td>*@
                                <td>
                                    <button class="inputBack btn btnAddInstitucion btn-default " @permiso.stringCrear>Agregar </button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (instituciones != null && instituciones.Count > 0)
                            {
                                foreach (Institucion institucion in instituciones)
                                {
                                    <tr class="trPadre">
                                        <td>
                                            <input class="txtHdIdInstitucion" name="txtHdIdInstitucion" value="@institucion._idInstitucion" />
                                            <input class="txtHdIdPais" name="txtHdIdPais" value="@institucion._pais._idPais" />
                                            <input class="txtHdIdTipoInstitucion" name="txtHdIdTipoInstitucion" value="@institucion._tipoInstitucion._idTipoInstitucion" />
                                        </td>
                                        <td class="tdNombreInsitucion">
                                            <div class="editMode hidden">
                                                <input type="text" name="txtNombreInstitucionEdit" class="txtNombreInstitucionEdit inputBack form-control txtNombreInstitucionVal txtEnterEdit" />
                                                <div class="divResultado">

                                                </div>
                                            </div>
                                            <div class="normalMode tdNombre">@institucion._nombre</div>
                                        </td>
                                        @*<td class="tdDireccion">
                                            <div class="editMode hidden">
                                                <textarea class="inputBack txtAreaDireccionEdit form-control txtAreaDireccionVal" name="txtAreaDireccionEdit"></textarea>
                                            </div>
                                            <div class="normalMode tdDireccion tdDireccionText ">@institucion._direccion</div>
                                        </td>*@
                                        <td class="tdPais">
                                            <div class="editMode hidden">
                                                <select class="cbPaisEdit cbPaisVal selectBack" name="cbPaisEdit"></select>
                                            </div>
                                            <div class="normalMode tdPaisText">
                                                @institucion._pais._pais
                                            </div>
                                        </td>
                                        <td class="tdFundacion">
                                            <div class="editMode hidden">
                                                <input type="number" class="txtAnioFundacion form-control inputBack" name="txtAnioFundacion" />
                                            </div>
                                            <div class="normalMode tdAnioFundacionText">@institucion._anioFundacion</div>
                                        </td>
                                        <td class="tdTipo">
                                            <div class="editMode hidden">
                                                <select class="form-control cbTipoInstitucionEdit selectBack" name="cbTipoInstitucion"></select>
                                            </div>
                                            <div class="normalMode tdTipoInstitucionText">
                                                @institucion._tipoInstitucion._tipoInstitucion
                                            </div>
                                        </td>
                                        @*<td class="tdCiudad">
                                            <div class="editMode hidden">
                                                <input class="form-control txtCiudad inputBack" name="txtCiudad" />
                                            </div>
                                            <div class="normalMode tdCiudadText">@institucion._ciudad</div>
                                        </td>*@

                                        <td class="tdAcciones">
                                            <div class="editMode hidden">

                                                <button class="btn btn-default btn-block btnBack btn-xs btnActualizarInstitucion">
                                                    Actualizar
                                                </button>
                                                <button class="btn btn-default btn-block btnBack btn-xs btnCancelar">
                                                    Cancelar
                                                </button>

                                            </div>
                                            <div class="normalMode">
                                                <div class="btn-group btn-block">
                                                    <button class="btnEditar btn btn-default btnBack col-lg-6" @permiso.stringEditar title="Editar">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>
                                                    <button class="btnDeleteInstitucion btn btn-default btnBack col-lg-6" @permiso.stringEliminar title="Eliminar">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                                <div class="btn-group btn-block">
                                                    <a class="btn btnFromlink btn-default btnBack col-lg-6" href="@Url.Action("Index", "GestionTelefonos", new { id=institucion._idInstitucion})" title="Telefonos">
                                                        <i class="fa fa-phone-square"></i>
                                                    </a>
                                                    <a class="btn btnFromlink btn-default btnBack col-lg-6" href="@Url.Action("Index","GestionMediosInstituciones",new {id=institucion._idInstitucion})" title="Medios Electronicos">
                                                        <i class="fa fa-globe"></i>
                                                    </a>
                                                </div>
                                                <div class="btn-group btn-block">
                                                    <a class="btn btnFromlink btn-default btnBack col-lg-6" href="@Url.Action("SetLogo", "GestionInstituciones", new { id = institucion._idInstitucion })" title="Establecer logo">
                                                        <i class="fa fa-picture-o"></i>
                                                    </a>
                                                    <a class="btn btn-default btnBack col-lg-6 btnNiveArea" href="@Url.Action("Index", "AdicionalesInstituciones", new {id=institucion._idInstitucion })" title="Mas detalles">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
