@using IUSLibs.FrontUI.Entidades
@section estilosPersonalizados{    
    <!-- propios -->
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/SetLogo/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/SetLogo/media.css" />
}
@section scriptsPersonalizados{
    <!-- propios -->
    <script src="~/Scripts/Views/GestionInstituciones/SetLogo/script.js"></script>
    <script src="~/Scripts/Views/GestionInstituciones/SetLogo/functions.js"></script>
}
@{
    string rutaImage = Url.Content("~/Content/themes/iusback_theme/img/general/image.png");
    Institucion institucion = (Institucion)ViewBag.institucion;
}
@section arbol{
    <div class="col-lg-3 text-center cuadritoArbol">
        <a href="@Url.Action("Index", "GestionInstituciones")">
            <div class="col-lg-8">
                Instituciones
            </div>
            <div class="col-lg-4 divChevron">
                <i class="fa fa-chevron-right navChevron"></i>
            </div>
        </a>
    </div>
    <div class="col-lg-3 text-center cuadritoArbol">
        <a href="@ViewBag.currentUrl">
            <div class="col-lg-8">
                Logo
            </div>
            <div class="col-lg-4 divChevron">
                <i class="fa fa-chevron-right navChevron"></i>
            </div>
        </a>
    </div>
}
<div class="contenidoModulo">
    <form method="post" id="frmMiniatura" action="@Url.Action("setMiniaturaLogo")">
        <div class="todoForm">
            <input type="hidden" name="txtHdIdInstitucion" value="@institucion._idInstitucion" />
            <div class="divImgThumbnail">
                @if (institucion._logo != null)
                {
                    rutaImage = "data:image/png;base64," + Convert.ToBase64String(institucion._logo, 0, institucion._logo.Length);
                }
                <img class="imgThumbnail" src="@rutaImage" />
                
            </div>
            <!--<input type="file" id="flMiniatura" />-->
            <div class="row marginNull">
                
                <div class="fileUpload btn btn-default">
                    <span>Seleccionar imagen</span>
                    <input type="file" class="upload" id="flMiniatura" accept="image/*" required/>
                </div>
            </div>
            <input id="btnSubmit" class="btn btnSubir btn-default" type="submit" value="Subir" disabled />
            <div class="divResultado">

            </div>
        </div>
    </form>
    
</div>