@using IUSLibs.FrontUI.Entidades;
@using IUSLibs.SEC.Entidades
@section estilosPersonalizados{
    <!-- propios -->
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/SetTel/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/SetTel/media.css" />
}
@section scriptsPersonalizados{
    <!-- propios -->
    <script src="~/Scripts/Views/GestionInstituciones/SetMedios/script.js"></script>
    <script src="~/Scripts/Views/GestionInstituciones/SetMedios/functions.js"></script>
}
@{
    Institucion institucion         = (Institucion)ViewBag.institucion;
    List<EnlaceInstitucion> enlaces = (List<EnlaceInstitucion>)ViewBag.enlaces;
    string src = Url.Content("~/Content/themes/iusback_theme/img/general/image.png");
    Permiso permiso = (Permiso)ViewBag.permiso;
}
@section arbol{
    <div class="col-lg-3 text-center cuadritoArbol">
        <a href="@Url.Action("Index", "GestionInstituciones")">
            <div class="col-lg-8">
                Instituciones
            </div>
            <div class="col-lg-4 divChevron">
                <i class="fa fa-chevron-right navChevron"></i>
            </div>
        </a>
    </div>
    <div class="col-lg-3 text-center cuadritoArbol">
        <a href="@ViewBag.currentUrl">
            <div class="col-lg-8">
                Medios
            </div>
            <div class="col-lg-4 divChevron">
                <i class="fa fa-chevron-right navChevron"></i>
            </div>
        </a>
    </div>
}
<div class="row marginNull divInstitucionPrev">
    @if (institucion._logo != null)
    {
        src = "data:image/png;base64," + Convert.ToBase64String(institucion._logo, 0, institucion._logo.Length);
    }
    <img src="@src" />
    <h2 class="titleInstitucion">@institucion._nombre</h2>
</div>
<div class="row marginNull divMensajesGenerales" >

</div>
<div class="row marginNull">
    <table class="table tbEnlaces">
        <thead>
            <tr>
                <th></th>
                <th>Enlace</th>
                <th>Texto enlace</th>
                <th>Acciones</th>
            </tr>
            <tr class="trFormAgregar">
                <th>
                    <input type="hidden" name="txtHdIdInstitucion" value="@institucion._idInstitucion" />
                </th>
                <th>
                    <input class="form-control txtEnlace txtEnterAgregar" name="txtEnlace" />
                    <div class="divResultado hidden">
                        _
                    </div>
                </th>
                <th>
                    <input class="form-control txtTextoEnlace txtEnterAgregar" name="txtTextoEnlace" />
                    <div class="divResultado hidden">
                        _
                    </div>
                </th>
                <th class="thBtnGuardar">
                    <button class="btn btnAgregar btn-default" @permiso.stringCrear>Agregar</button>
                </th>
            </tr>
        </thead>
        <tbody class="tbodyMedios">
            @if (enlaces != null && enlaces.Count > 0)
            {
                foreach (EnlaceInstitucion enlace in enlaces)
                {
                    <tr>
                        <td>
                            <input type="hidden" class="txtHdIdEnlace" name="txtHdIdEnlace" value="@enlace._idEnlace" />
                        </td>
                        <td>
                            <div class="editMode hidden">
                                <input class="form-control txtEnlace input-sm" name="txtEnlace" />
                                <div class="divResultado hidden">
                                    _
                                </div>
                            </div>
                            <div class="normalMode tdEnlace">@enlace._enlace</div>
                        
                        </td>
                        <td>
                            <div class="editMode hidden">
                                <input class="form-control input-sm txtTextoEnlaceEdit" name="txtTextoEnlaceEdit" />
                                <div class="divResultado hidden">
                                    _
                                </div>
                            </div>
                            <div class="normalMode tdNombreEnlace">@enlace._nombreEnlace</div>
                        </td>
                        <td>
                            <div class="editMode hidden">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-xs btnActualizar">Actualizar</button>
                                    <button class="btn btn-default btn-xs btnCancelar">Cancelar</button>
                                </div>
                            </div>
                            <div class="normalMode">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-xs btnEditar" @permiso.stringEditar>
                                        Editar
                                    </button>
                                    <button class="btn btn-default btn-xs btnEliminar" @permiso.stringEliminar>
                                        Eliminar
                                    </button>
                                </div>
                            </div>
                            
                        </td>
                    </tr>        
                }
                
            }
        </tbody>
    </table>
</div>