@using IUSLibs.FrontUI.Entidades;
@section estilosPersonalizados{
    <!-- propios -->
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/SetTel/style.css" />
    <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/SetTel/media.css" />
}
@section scriptsPersonalizados{
    <!-- propios -->
    <script src="~/Scripts/Views/GestionInstituciones/SetTel/script.js"></script>
    <script src="~/Scripts/Views/GestionInstituciones/SetTel/functions.js"></script>
}
@{
    Institucion                 institucion = (Institucion)ViewBag.institucion;
    List<TelefonoInstitucion>   telefonos   = (List<TelefonoInstitucion>)ViewBag.telefonos;
    
    string src = Url.Content("~/Content/themes/iusback_theme/img/general/image.png");
}
<div class="row marginNull divInstitucionPrev">
    @if (institucion._logo != null)
    {
        src = "data:image/png;base64,"+Convert.ToBase64String(institucion._logo, 0, institucion._logo.Length);
    }
    
    <img src="@src" />
    <h2 class="titleInstitucion">@institucion._nombre</h2>
</div>

<div class="row marginNull">
    <table class="table tbTelefonos">
        <thead>
            <tr>
                <th></th>
                <th>Telefono</th>
                <th>Etiqueta</th>
                <th>Acciones</th>
            </tr>
            <tr>
                <th>
                    <input type="hidden" name="txtHdIdInstitucion" value="@institucion._idInstitucion"/>
                    <div class="divResultado marginNull row hidden">

                    </div>
                </th>
                <th>
                    <input type="tel" name="txtTelefono" class="form-control txtTelefono" />
                    <div class="divResultado marginNull row hidden">

                    </div>
                </th>
                <th>
                    <input type="tel" name="txtEtiqueta" class="form-control txtEtiqueta" />
                    <div class="divResultado marginNull row hidden">

                    </div>
                </th>
                <th class="thBtnGuardar">
                    <button class="btn btnAgregarTel">Agregar</button>
                </th>
            </tr>
        </thead>
        <tbody class="tbodyTelefonos">
            @if (telefonos != null && telefonos.Count > 0)
            {
                foreach (TelefonoInstitucion telefono in telefonos)
                {
                    <tr>
                        <td>
                            <input type="hidden" class="txtHdIdTel" name="txtHdIdTel" value="@telefono._idTelefono"/>
                        </td>
                        <td>
                            <div class="editMode hidden">
                                <input type="tel" name="txtTelefonoEdit" class="form-control txtTelefonoEdit" />
                            </div>
                            <div class="normalMode tdTelefono">@telefono._telefono</div>
                        </td>

                        <td>
                            <div class="editMode hidden">
                                <input type="tel" name="txtEtiquetaEdit" class="form-control txtEtiquetaEdit" />
                            </div>
                            <div class="normalMode tdTextoTelefono">@telefono._textoTelefono</div>      
                        </td>
                        <td>
                            <div class="editMode hidden">
                                <button class="btn btnActualizar">
                                    Actualizar
                                </button>
                                <button class="btn">
                                    Cancelar
                                </button>
                            </div>
                            <div class="normalMode">
                                <button class="btn btnEliminarTel">
                                    Eliminar
                                </button>
                                <button class="btn btnEditarTel">
                                    Editar
                                </button>
                            </div>
                            
                        </td>
                    </tr>    
                }
                
            }
        </tbody>
    </table>
</div>