@using IUSLibs.FrontUI.Entidades
@using IUSLibs.RRHH.Entidades.Formacion
@section estilosPersonalizados{
    <!-- propios -->
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/AdicionalesInstituciones/style.css" />
        <link rel="stylesheet" href="~/Content/themes/iusback_theme/views/GestionInstituciones/AdicionalesInstituciones/media.css" />
}
@{
    Dictionary<object, object>  iniciales           = (Dictionary<object, object>)ViewBag.iniciales;
    List<NivelEducacion>        nivelesEducacion    = (List<NivelEducacion>)iniciales["nivelesEducacion"];
    List<AreaCarrera>           areasCarrera        = (List<AreaCarrera>)iniciales["areasConocimiento"];
    string claseExtra = "";
}
@section scriptsPersonalizados{
    <!-- propios -->
        <script src="~/Scripts/Views/GestionInstituciones/AdicionalInstuticiones/script.js"></script>
        <script src="~/Scripts/Views/GestionInstituciones/AdicionalInstuticiones/functions.js"></script>    
}
<div class="row marginNull divMensajesGenerales">

</div>
<div class="row marginNull">
    <input type="hidden" class="txtHdIdInstitucion" value="@ViewBag.idInstitucion" />
    <div class="col-lg-6">
        <h3 class="text-center">Seleccione nivel</h3>
        <div class="row marginNull text-center rowBotones">
            <button class="btn btn-sm btn-default btnGuardarNivel">Guardar</button>
            <div class="row marginNull divGeneralesNivelEducativo">

            </div>
        </div>
        <div class="row marginNull rowOpcionesNiveles">
            @if (nivelesEducacion != null && nivelesEducacion.Count > 0)
            {
                foreach (NivelEducacion nivelEducacion in nivelesEducacion)
                {
                    if (nivelEducacion._selected)
                    {
                        claseExtra = "cuadritoSelected";
                    }
                    else
                    {
                        claseExtra = "";
                    }
                    <div class="col-lg-6">
                        <div class="cuadritoNivelEducacion @claseExtra">
                            <input type="hidden" class="txtHdIdNivelEducacion" name="txtHdIdNivelEducacion" value="@nivelEducacion._idNivelEducacion"/>
                            <input type="hidden" class="txtHdEstado" name="txtHdEstadoNivel" value="@nivelEducacion.getNumEstado" />
                            <p>
                                @nivelEducacion._codigo - @nivelEducacion._descripcion
                            </p>
                        </div>
                    </div>
                }
            }

            @*<div class="col-lg-4">
                ISCED 5 - Terciaria de corto ciclo
            </div>
            <div class="col-lg-4">
                ISCED 6 - Grado en educación terciaria o nivel equivalente
            </div>
            <div class="col-lg-4">
                ISCED 7 - Grado en educación terciaria o nivel equivalente
            </div>*@
            
        </div>
    </div>
    <div class="col-lg-6">
        <h3 class="text-center">Seleccione areas de conocimiento</h3>
        <div class="row marginNull text-center rowBotones">
            <button class="btn btn-default btnGuardarAreaConocimiento">Guardar</button>
        </div>
        <div class="row marginNull divOpcionesAreaCono">
            @if (areasCarrera != null && areasCarrera.Count > 0)
            {
                foreach (AreaCarrera area in areasCarrera)
                {
                    if (area._selected)
                    {
                        claseExtra = "cuadritoSelected";
                    }
                    else
                    {
                        claseExtra = "";
                    }
                    <div class="col-lg-4 text-center">
                        <div class="divAreaCarrera @claseExtra">
                            <input type="hidden" name="txtHdIdArea" class="txtHdIdArea" value="@area._idArea"/>
                            <input type="hidden" name="txtHdIdEstadoArea" class="txtHdEstado txtHdIdEstadoArea"  value="@area.getNumEstadoSelected"/>
                            <p>@area._area</p>
                        </div>
                    </div>
                }
            }
            @*<div class="col-lg-12 text-center">
                Educación
            </div>
            <div class="col-lg-12">
                Tecnologías de la información y la comunicación (TIC)
            </div>
            <div class="col-lg-12">
                Ingenierías, industria y construcción
            </div>*@
        </div>
    </div>
</div>
